<r:comment>
<!-- NOTE: This anytych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `triptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:set_var name="soMagicAnytychPhoto__base4" value="{$soMagicAnytychPhoto__base4}" default="wvu-magic-anytych__photo-4" />
<r:set_var name="soMagicAnytychCopy__base4" value="{$soMagicAnytychCopy__base4}" default="wvu-magic-anytych__copy-4" />
<r:set_var name="soMagicAnytychButtonText__base4" value="{$soMagicAnytychButtonText__base4}" default="wvu-magic-anytych__button-text-4" />
<r:set_var name="soMagicAnytychUrl__base2" value="{$soMagicAnytychUrl__base4}" default="wvu-magic-anytych__url-4" />
<r:set_var name="triptychItems4" value="{$triptychItems4}" default="4" />
<r:set_var name="scope" value="{$scope4}" default="page" />

<div class="so-magic-anytych so-magic-anytych--4 <r:var name="wvu-anytych__classes" /> <r:page:content name="so-background-color-class--anytych-4" /> background <r:page:if_has_content_for region="wvu-magic-anytych__copy-4--2">so-magic-anytych--diptych</r:page:if_has_content_for> <r:page:if_has_content_for region="wvu-magic-anytych__copy-4--3">so-magic-anytych--triptych</r:page:if_has_content_for> <r:page:if_has_content_for region="wvu-magic-anytych__copy-4--4">so-magic-anytych--quadtych</r:page:if_has_content_for> <r:edit_mode_only>so-magic-anytych--quadtych</r:edit_mode_only>">
  <div class="so-magic-anytych__container">

    <r:page:if_has_content_for region="so-magic-anytych__header-4" always_show_in_edit_mode="true">
      <div class="so-magic-anytych__header">
        <r:editable_region name="so-magic-anytych__header-4">
          <h2>Mulitple Panels Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="so-magic-anytych__panels">

      <r:loop:each times="{$triptychItems4}">

        <r:set_var name="soMagicAnytychCopy4"><r:var name="soMagicAnytychCopy__base4" />--<r:item /></r:set_var>

        <r:page:if_has_content_for region="{$soMagicAnytychCopy4}" always_show_in_edit_mode="true">
          <div class="so-magic-anytych__panel">

            <r:set_var name="soMagicAnytychPhoto4"><r:var name="soMagicAnytychPhoto__base4" />--<r:item /></r:set_var>

            <r:page:if_has_content_for region="{$soMagicAnytychPhoto4}" always_show_in_edit_mode="true">
              <div class="so-magic-anytych__photo">
                <r:editable_region name="{$soMagicAnytychPhoto4}">
                  <img src="http://placehold.it/960x640">
                </r:editable_region>
              </div>
            </r:page:if_has_content_for>

            <div class="so-magic-anytych__copy <r:page:unless_has_content_for region="{$soMagicAnytychPhoto4}">so-magic-anytych__copy--wide</r:page:unless_has_content_for>">

              <r:editable_region name="{$soMagicAnytychCopy4}">
                <h3>Headline Goes Here</h3>
                <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
              </r:editable_region>

              <r:set_var name="soMagicAnytychButtonText4"><r:var name="soMagicAnytychButtonText__base4" />--<r:item /></r:set_var>
              <r:set_var name="soMagicAnytychUrl4"><r:var name="soMagicAnytychUrl__base4" />--<r:item /></r:set_var>

              <r:page:if_has_content_for region="{$soMagicAnytychUrl4}">
                <a class="button <r:edit_mode_only>button--edit-mode</r:edit_mode_only>" href="<r:page:content name="{$soMagicAnytychUrl4}" />">
                  <r:page:content name="{$soMagicAnytychButtonText4}" />
                </a>
              </r:page:if_has_content_for>

              <r:edit_mode_only>
                <a class="button">
                  <r:editable_region name="{$soMagicAnytychButtonText4}" type="simple">
                    Button Text
                  </r:editable_region>
                </a>
                <p>
                  <r:editable_region name="{$soMagicAnytychUrl4}" type="simple">
                    Put URL for Button Here
                  </r:editable_region>
                </p>
              </r:edit_mode_only>

            </div>

          </div> <!-- end so-magic-anytych__panel -->
        </r:page:if_has_content_for>

      </r:loop:each>

    </div> <!-- end so-magic-anytych__panels -->

    <div class="so-magic-anytych__postscript">
      <r:editable_region name="so-magic-anytych__postscript-4">
        Put any additional info or links here.
      </r:editable_region>
    </div>

  </div> <!-- end so-magic-anytych__container -->
</div> <!-- end so-magic-anytych -->


<r:edit_mode_only>
  <div class="so-instructions">
    <p><strong>Instructions for Multiple Panels:</strong> These panels display sub-features or allow you to have multiple columns of content. Try to keep these consistent e.g. if you have a header in one column, use a header in all of them. You can have 1-4 columns. To omit columns, simply leave the description field in each column you wish to omit blank, from right to left.</p>
    <p><strong>Background Color:</strong> <r:editable_region name="so-background-color-class--anytych-4" /></p>
  </div>
</r:edit_mode_only>
