
<div class="wvu-container">

  <main id="maincontent" class="<r:page:content name="so-background-color-class--backpage-2" /> background main <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">

    <r:editable_region name="main-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </r:editable_region>
  </main>

  <r:partial name="custom-patterns/wvu-sidebar-2" />

</div> <!-- /.wvu-container -->


<r:edit_mode_only>
  <div class="so-instructions">
    <p><strong>Instructions for Body:</strong> You can put whatever you want in this content region. The sidebar and sub-nav are optional. Just delete the content in the &ldquo;Sidebar&rdquo; and &ldquo;Sub-Nav&rdquo; regions to make them disappear.</p>
    <p><strong>Background Color:</strong> <r:editable_region name="so-background-color-class--backpage-2" /></p>
  </div>
</r:edit_mode_only>
