

<r:get_page id="{$directory_id}">
  <r:children:each>
    <h2><r:page:name /></h2>
    <table cellspacing="0" cellpadding="0" class="fin-staff-directory">
      <tbody>
        <r:children:each>
          <tr>
            <td class="so-directory__name">
              <r:page:first_non_blank_attr names="alternate_name,name" /><br />
              <r:page:content name="wvu-profile__job-title" />
            </td>
            <td class="so-directory__phone"><r:page:content name="wvu-profile__phone" /></td>
            <td class="so-directory__email">
              <r:set_var name="email_address"><r:page:content name="wvu-profile__email" /></r:set_var>
              <r:if v1="{{BLANK(email_address)}}" v2="false" operator="=" type="boolean">
                <a href="mailto:<r:page:content name="wvu-profile__email" />"><img src="<r:image_url name="email.png" />" alt="Email Icon" /></a>
              </r:if>
            </td>
            <td class="so-directory__webpage"><r:page:content name="wvu-profile__phone" />
              <a href="<r:page:unless_has_content_for region="so-featurettes__url"><r:page:url /></r:page:unless_has_content_for><r:page:if_has_content_for region="so-featurettes__url"><r:page:content name="so-featurettes__url" /></r:page:if_has_content_for>">
                Wep Page
              </a>
            </td>
          </tr>
        </r:children:each>
      </tbody>
    </table>
  </r:children:each>
</r:get_page>
