<r:edit_mode_only>
  <div class="so-page-meta">

    <div class="so-page-meta__description">
      <p><strong>Page Description (use this if you want to pull in a preview of this page elsewhere, for example as a featurette):</strong><br>
      <r:editable_region name="so-page-desc" type="simple">
        Put description here. It should only be 1-2 brief sentences.
      </r:editable_region></p>
      <p><strong>External link (if you want to link elsewhere when this is pulled in as a featurette, put the URL here):</strong><br><r:editable_region name="so-featurettes__url" type="simple" /></p>
      <p><strong>Link text (this is what shows on the button that links to this page or to an external URL):</strong><br><r:editable_region name="so-featurettes__link-text" type="simple" /></p>
    </div>
    <div class="so-page-meta__thumb">
      <p><strong>Thumbnail (this will show up when pulling content into a featurette):</strong><br>
        <r:editable_region name="so-page-meta__thumb" />
      </p>
    </div>

  </div>
</r:edit_mode_only>
