<r:set_var name="adverts_id">
  <r:page:data name="advertisements_id" />
</r:set_var>

<r:set_var name="page_slug">
  <r:page:slug />
</r:set_var>


<div class="so-adverts <r:page:content name="so-background-color-class--advertsAnywhere" /> background">
  <div class="so-adverts__container">

    <r:get_page id="{$adverts_id}">

      <r:children order="asc" labels="{$page_slug}" labels_match="any">
        <div class="so-adverts__adverts so-averts__adverts--<r:count />">
          <r:each>
            <div class="so-adverts__advertisement so-adverts__advertisement--<r:page:slug />">
              <div class="so-adverts__ad-text">
                <a href="<r:page:content name="so-adverts__url" />"><span><r:page:first_non_blank_attr names="alternate_name,name" /></span></a>
              </div>
              <a href="<r:page:content name="so-adverts__url" />"><r:page:content name="so-adverts__image" /></a>
            </div>
          </r:each>
        </div>
      </r:children>

    </r:get_page>

  </div>
</div>
