<r:set_var name="page_slug">
  <r:page:slug />
</r:set_var>

<div class="so-featurettes so-featurettes--profiles so-featurettes--profilesAnywhere <r:page:content name="so-background-color-class--profilesAnywhere" /> background">
  <div class="so-featurettes__container">

    <r:set_var name="featurettesProfilesAnywhere_id">
      <r:page:data name="profiles_id" />
    </r:set_var>

    <r:get_page id="{$featurettesProfilesAnywhere_id}">

      <r:descendants order="asc" labels="{$page_slug}" labels_match="any">
        <div class="so-featurettes__featurettes so-featurettes__featurettes--<r:count />">

          <r:each>
            <div class="so-featurettes__featurette">

              <r:set_var name="soFeaturettesInfoProfilesWideAnywhere" default="nophoto" />
              <r:page:if_has_content_for region="wvu-profile__photo">
                <div class="so-featurettes__photo">
                  <a href="<r:page:unless_has_content_for region="so-featurettes__url"><r:page:url /></r:page:unless_has_content_for><r:page:if_has_content_for region="so-featurettes__url"><r:page:content name="so-featurettes__url" /></r:page:if_has_content_for>"><r:page:content name="wvu-profile__photo" /></a>
                </div>
                <r:set_var name="soFeaturettesInfoProfilesWideAnywhere">
                  hasphoto
                </r:set_var>
              </r:page:if_has_content_for>

              <div class="so-featurettes__info so-featurettes__info--<r:var name="soFeaturettesInfoProfilesWideAnywhere" />">
                <h3><a href="<r:page:unless_has_content_for region="so-featurettes__url"><r:page:url /></r:page:unless_has_content_for><r:page:if_has_content_for region="so-featurettes__url"><r:page:content name="so-featurettes__url" /></r:page:if_has_content_for>"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h3>
                <p>
                  <r:page:content name="so-page-desc" />
                </p>
                <p>
                  <a class="button" href="<r:page:unless_has_content_for region="so-featurettes__url"><r:page:url /></r:page:unless_has_content_for><r:page:if_has_content_for region="so-featurettes__url"><r:page:content name="so-featurettes__url" /></r:page:if_has_content_for>"><r:page:unless_has_content_for region="so-featurettes__link-text">More About <r:page:name /></r:page:unless_has_content_for><r:page:if_has_content_for region="so-featurettes__link-text"><r:page:content name="so-featurettes__link-text" /></r:page:if_has_content_for></a>
                </p>
              </div>
            </div>
          </r:each>
        </div>
      </r:descendants>

    </r:get_page>

  </div>
</div>
