<r:comment>
<!-- NOTE: This anytych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `triptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:set_var name="soMagicAnytychPhoto__base3" value="{$soMagicAnytychPhoto__base3}" default="wvu-magic-anytych__photo-3" />
<r:set_var name="soMagicAnytychCopy__base3" value="{$soMagicAnytychCopy__base3}" default="wvu-magic-anytych__copy-3" />
<r:set_var name="soMagicAnytychButtonText__base3" value="{$soMagicAnytychButtonText__base3}" default="wvu-magic-anytych__button-text-3" />
<r:set_var name="soMagicAnytychUrl__base2" value="{$soMagicAnytychUrl__base3}" default="wvu-magic-anytych__url-3" />
<r:set_var name="triptychItems3" value="{$triptychItems3}" default="4" />
<r:set_var name="scope" value="{$scope3}" default="page" />

<div class="so-magic-anytych so-magic-anytych--3 <r:var name="wvu-anytych__classes" /> <r:page:content name="so-background-color-class--anytych-3" /> background <r:page:if_has_content_for region="wvu-magic-anytych__copy-3--2">so-magic-anytych--diptych</r:page:if_has_content_for> <r:page:if_has_content_for region="wvu-magic-anytych__copy-3--3">so-magic-anytych--triptych</r:page:if_has_content_for> <r:page:if_has_content_for region="wvu-magic-anytych__copy-3--4">so-magic-anytych--quadtych</r:page:if_has_content_for> <r:edit_mode_only>so-magic-anytych--quadtych</r:edit_mode_only>">
  <div class="so-magic-anytych__container">

    <r:page:if_has_content_for region="so-magic-anytych__header-3" always_show_in_edit_mode="true">
      <div class="so-magic-anytych__header">
        <r:editable_region name="so-magic-anytych__header-3">
          <h2>Mulitple Panels Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="so-magic-anytych__panels">

      <r:loop:each times="{$triptychItems3}">

        <r:set_var name="soMagicAnytychCopy3"><r:var name="soMagicAnytychCopy__base3" />--<r:item /></r:set_var>

        <r:page:if_has_content_for region="{$soMagicAnytychCopy3}" always_show_in_edit_mode="true">
          <div class="so-magic-anytych__panel">

            <r:set_var name="soMagicAnytychPhoto3"><r:var name="soMagicAnytychPhoto__base3" />--<r:item /></r:set_var>

            <r:page:if_has_content_for region="{$soMagicAnytychPhoto3}" always_show_in_edit_mode="true">
              <div class="so-magic-anytych__photo">
                <r:editable_region name="{$soMagicAnytychPhoto3}">
                  <img src="http://placehold.it/960x640">
                </r:editable_region>
              </div>
            </r:page:if_has_content_for>

            <div class="so-magic-anytych__copy <r:page:unless_has_content_for region="{$soMagicAnytychPhoto3}">so-magic-anytych__copy--wide</r:page:unless_has_content_for>">

              <r:editable_region name="{$soMagicAnytychCopy3}">
                <h3>Headline Goes Here</h3>
                <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
              </r:editable_region>

              <r:set_var name="soMagicAnytychButtonText3"><r:var name="soMagicAnytychButtonText__base3" />--<r:item /></r:set_var>
              <r:set_var name="soMagicAnytychUrl3"><r:var name="soMagicAnytychUrl__base2" />--<r:item /></r:set_var>

              <r:page:if_has_content_for region="{$soMagicAnytychUrl3}">
                <a class="button <r:edit_mode_only>button--edit-mode</r:edit_mode_only>" href="<r:page:content name="{$soMagicAnytychUrl3}" />">
                  <r:page:content name="{$soMagicAnytychButtonText3}" />
                </a>
              </r:page:if_has_content_for>

              <r:edit_mode_only>
                <a class="button">
                  <r:editable_region name="{$soMagicAnytychButtonText3}" type="simple">
                    Button Text
                  </r:editable_region>
                </a>
                <p>
                  <r:editable_region name="{$soMagicAnytychUrl3}" type="simple">
                    Put URL for Button Here
                  </r:editable_region>
                </p>
              </r:edit_mode_only>

            </div>

          </div> <!-- end so-magic-anytych__panel -->
        </r:page:if_has_content_for>

      </r:loop:each>

    </div> <!-- end so-magic-anytych__panels -->

    <div class="so-magic-anytych__postscript">
      <r:editable_region name="so-magic-anytych__postscript-3">
        Put any additional info or links here.
      </r:editable_region>
    </div>

  </div> <!-- end so-magic-anytych__container -->
</div> <!-- end so-magic-anytych -->


<r:edit_mode_only>
  <div class="so-instructions">
    <p><strong>Instructions for Multiple Panels:</strong> These panels display sub-features or allow you to have multiple columns of content. Try to keep these consistent e.g. if you have a header in one column, use a header in all of them. You can have 1-4 columns. To omit columns, simply leave the description field in each column you wish to omit blank, from right to left.</p>
    <p><strong>Background Color:</strong> <r:editable_region name="so-background-color-class--anytych-3" /></p>
  </div>
</r:edit_mode_only>
