html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.wvu-social-media {
  background: #232221;
  color: white;
}

.wvu-social-media__container {
  padding: 4em 0 4.3em 0;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 75em) {
  .wvu-social-media__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.wvu-social-media h2 {
  color: white;
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.wvu-social-media__header {
  text-align: center;
}

.wvu-social-media__header h2 {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  margin-bottom: .5em;
  margin-top: 0;
  text-align: center;
}

.wvu-social-media__header h3 {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  margin-bottom: .5em;
  margin-top: 0;
  text-align: center;
  font-size: 2.4em;
}

.wvu-social-media__header p {
  margin: 0 auto;
}

.wvu-social-media__postscript {
  clear: both;
  display: block;
  margin: 2em auto 0 auto;
  text-align: center;
}

.wvu-social-media__icons {
  margin: 2em auto 0 auto;
  text-align: center;
}

h2 + .wvu-social-media__icons {
  margin-top: 3em;
}

.wvu-social-media__icon {
  display: inline-block;
  font-size: .8em;
  margin: 0 .5em;
}

@media (min-width: 60em) {
  .wvu-social-media__icon {
    font-size: 1em;
  }
}

.wvu-social-media__icon a, .wvu-social-media__icon a:visited {
  color: white;
  text-decoration: none;
}

.wvu-social-media__icon img {
  height: 32px;
  width: 32px;
}

@media (min-width: 60em) {
  .wvu-social-media__icon img {
    font-size: 1em;
    height: 64px;
    width: 64px;
  }
}

.wvu-social-media__icon p {
  margin-top: .5em;
}

.wvu-social-media__container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.wvu-social-media__container::after {
  clear: both;
  content: "";
  display: table;
}
