<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <r:comment><!-- meta charset gets set automatically by CleanSlate --></r:comment>
    <title><r:page:first_non_blank_attr names="alternate_name, name" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="<r:site:data name="google_site_verification" />" />

    <meta property="og:title" content="<r:site_name /> | <r:page:first_non_blank_attr names="alternate_name, name" />" />
    <meta property="og:description" content="<r:page:meta_description />" />
    <r:set_var name="thumbnailurl">
      <r:page:slug />-thumbnail
    </r:set_var>
    <r:files:each limit="1" labels="{$thumbnailurl}" types="image" random="true">
      <meta property="og:image" content="<r:file:image_url size="1200x630" />" />
      <meta name="twitter:image" content="<r:page:">
    </r:files:each>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<r:page:url />" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<r:site_name />">
    <meta name="twitter:creator" content="<r:site:data name="twitter_handle" />">
    <meta name="twitter:title" content="<r:page:first_non_blank_attr names="alternate_name, name" />">
    <meta name="twitter:description" content="<r:page:meta_description />">

    <r:include_stylesheet name="styles" />

  </head>

  <r:set_var name="showInstructions">
    <r:site:data name="show_instructions" />
  </r:set_var>

  <body class="<r:page:template:name /> page--<r:page:id /> page--<r:page:slug /> <r:edit_mode_only>page--edit-mode page--hide-instructions-<r:var name="showInstructions" /></r:edit_mode_only>">

    <a class="wvu-skip-nav" href="#maincontent">Skip to main content</a>

    <div class="wvu-masthead">
      <div class="wvu-masthead__container">

        <a class="wvu-masthead__logo" href="/"><r:site:name /></a>

        <div class="wvu-masthead__college-link">
          <a href="<r:site:data name="masthead_college_link_address" />"><r:site:data name="masthead_college_link_title" /></a>
        </div>

        <div class="wvu-masthead__search-slider">
          <div class="wvu-masthead__search-bar">
            <div class="wvu-masthead__search-and-submit">
              <a href="http://wvu.edu" class="wvu-masthead__link">WVU Home</a> | <a class="wvu-masthead__org-link" href="<r:site:data name="org_url" />"><r:site:data name="org_name" /></a>
              <form class="form-search" action="//search.wvu.edu/search" method="get" role="search">

                <label class="form-search__label" for="q">
                  <span class="form-search__label-text">Search</span>
                  <input id="q" class="form-search__field" name="q" maxlength="256" placeholder="Search this site..." type="search" />
                </label>

                <input id="sort" name="sort" type="hidden" value="date:D:L:d1" />
                <input id="output" name="output" type="hidden" value="xml_no_dtd" />
                <input id="ie" name="ie" type="hidden" value="UTF-8" />
                <input id="oe" name="oe" type="hidden" value="UTF-8" />
                <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend" />
                <input id="client" name="client" type="hidden" value="default_frontend" />
                <input class="form-search__submit" name="btnG" type="submit" value="Search" />

                <div class="form-search__search-type">
                  <input id="form-search__sitesearch" type="radio" name="as_sitesearch" value="<r:site:domain />" checked="true" />
                  <label for="form-search__sitesearch">Search this site</label>
                  <input id="form-search__wvusearch" type="radio" name="as_sitesearch" value="wvu.edu" />
                  <label for="form-search__wvusearch">Search WVU</label>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div> <!-- /.wvu-masthead-container -->
    </div> <!-- /.wvu-masthead -->

    <r:comment><!-- What are layouts and <r:yield />? http://goo.gl/DFAsPv --></r:comment>
    <r:yield />

    <div class="so-footer <r:page:content name="so-background-color--footer" /> background">
      <div class="so-footer__container">
        <r:partial name="patterns/wvu-footer" />
      </div>
    </div>

    <r:edit_mode_only>
      <div class="so-instructions">
        <p><strong>Instructions for Footer:</strong> Put your organization&rsquo;s contact info here.</p>
        <p><strong>Background Color:</strong> <r:editable_region name="so-background-color--footer" scope="site" /></p>
      </div>
    </r:edit_mode_only>

    <script src="https://fast.fonts.net/jsapi/3f7b1335-4c99-4404-92cf-3ba0e32e8f17.js"></script> <r:comment><!-- Helvetica Neue Light & Bold Condensed web font, valid for *.wvu.edu, *.wvutech.edu, & localhost --></r:comment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://code.wvu.edu/public/vendor/jquery/1.11.1/jquery.min.js"><\/script>')</script>
    <r:include_javascript name="all" />

    <r:yield name="page_js">
      <r:content />
    </r:yield>

  </body>
</html>
