.wvu-pattern-instructions {
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-top: 1px solid #eee;
    margin-top: 3em;
    padding-top: .5em;
  }
  pre {
    box-sizing: border-box;
    max-height: 500px;
    overflow: scroll;
    padding: 2em;
  }
}

.wvu-pattern-instructions__container {
  @include u-wvu-container-padding();
}

.wvu-pattern-instructions__do {
  h2, h3 {
    border-top: 3px solid green;
  }
}

.wvu-pattern-instructions__dont {
  h2, h3 {
    border-top: 3px solid red;
  }
}

.wvu-pattern-instructions__dos-and-donts {
  h2, h3 {
    padding-top: .5em;
  }
}

.wvu-pattern-instructions__options {
  h2, h3 {
    a {
      font-size: .5em;
      font-weight: normal;
      margin-left: 2em;
    }
  }
}

.wvu-pattern-instructions__options, .wvu-pattern-instructions__dos-and-donts, .wvu-pattern-instructions__code-examples {
  clear: both;
  display: table;
  width: 100%;
}

// Layout
// =====================================

.wvu-pattern-instructions__code-example {
  @include mq($bp-medium) {
    @include span-columns(4);
    @include omega(3n);
  }
}

.wvu-pattern-instructions__code-examples--js {
  .wvu-pattern-instructions__code-example {
    @include mq($bp-medium) {
      @include omega-reset(3n);
      @include span-columns(3);
    }
  }
  &.wvu-pattern-instructions__code-examples--edit-mode {
    .wvu-pattern-instructions__code-example {
      @include mq($bp-medium) {
        @include omega-reset(3n);
        @include span-columns(3);
      }
    }
  }
}

.wvu-pattern-instructions__container {
  @include outer-container();
}

.wvu-pattern-instructions__do, .wvu-pattern-instructions__dont {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
}
