.wvu-quicklinks {
  width: 100%;
  ul {
    list-style-type: none;
    padding-left: 0;
    @include mq($bp-medium) {
      display: flex;
      align-items: stretch;
      flex-flow: row wrap;
    }
    li {
      padding-left: 1.5em;
      padding-right: 2em;
      background: url(https://patterns.wvu.edu/images/diagonal-gold.svg) no-repeat 0 0px;
      margin-left: 0;
      font-size: 1em;
      box-sizing: border-box;
      background-size: 20px;
      @include mq($bp-medium) {
        width: 25%;
        float: left;
      }
      a {
        display: block;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

.wvu-quicklinks__header {
  text-align: center;
  h2 {
    @include wvu-secondary-pattern-heading();
  }
  h3 {
    @include wvu-secondary-pattern-heading();
    font-size: 2.4em;
  }
  p {
    margin: 0 auto;
  }
}

.wvu-quicklinks__container {
  @include u-wvu-container-padding();
}

// Layout
// ================================

.wvu-quicklinks__container {
  @include outer-container();
}
