.wvu-pattern-instructions__container {
  @include u-wvu-container-padding();
}

.wvu-pattern-instructions__do {
  h2, h3 {
    color: green;
  }
}

.wvu-pattern-instructions__dont {
  h2, h3 {
    color: red;
  }
}

.wvu-pattern-instructions__dos-and-donts {
  clear: both;
  display: table;
  width: 100%;
}
