.wvu-pattern-instructions {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3em;
  }
}

.wvu-pattern-instructions__container {
  @include u-wvu-container-padding();
}

.wvu-pattern-instructions__do {
  h2, h3 {
    border-top: 3px solid green;
  }
}

.wvu-pattern-instructions__dont {
  h2, h3 {
    border-top: 3px solid red;
  }
}

.wvu-pattern-instructions__dos-and-donts {
  h2, h3 {
    padding-top: .5em;
    a {
      font-size: .5em;
      margin-left: 2em;
    }
  }
}

.wvu-pattern-instructions__options, .wvu-pattern-instructions__dos-and-donts, .wvu-pattern-instructions__code-examples {
  clear: both;
  display: table;
  width: 100%;
  margin-top: 5em;
}
