.wvu-sub-nav {
  ul {
    font-weight: bold;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    @include mq($bp-medium) {
      padding-left: 1em;
    }
    li {
      line-height: 1.2em;
      margin: 0;
      padding-bottom: 0.5em;
      a {
        text-decoration: none;
      }
      ul {
        font-size: 0.8em;
        font-weight: normal;
        padding: 1em 0 0 0;
        li {
          ul {
            font-size: 1em;
            padding-left: 0.5em;
          }
        }
      }
    }
  }
  > ul {
    @include mq($bp-medium) {
      border-left: 1px solid #eee;
    }
  }
  .nav-secondary--current-page {
    background-color: #eee;
    margin: -.25em -1em;
    padding: .25em 1em;
  }
}
