.wvu-background-color-changer {
  @include u-wvu-container-padding();
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    li {
      cursor: pointer;
      float: left;
      font-size: .8em;
      height: 3em;
      line-height: 1em;
      margin-right: 3px;
      padding: .5em;
      @include mq($bp-medium) {
        @include span-columns(2.4);
        @include omega(5n);
      }
      @include mq($bp-medium) {
        @include omega-reset(5n);
        @include span-columns(1.2);
        @include omega(10n);
      }
    }
  }
}

// Layout
// ===================================

.wvu-background-color-changer {
  @include outer-container();
}
