---
layout: default
---

<div class="wvu-container">

  <h1><r:page:first_non_blank_attr names="alternate_name,name" /></h1>

  <div class="so-adverts so-adverts--<r:page:slug /> <r:var name="so-advert__classes" /> <r:edit_mode_only>so-adverts__entries--edit-mode</r:edit_mode_only>">
    <div class="so-adverts__image">
      <r:editable_region name="so-adverts__image">
        <img src="http://placehold.it/960x640">
      </r:editable_region>
    </div>
    <div class="so-adverts__copy">
      <r:edit_mode_only>
        <h2>URL:</h2>
      </r:edit_mode_only>
      <r:editable_region name="so-adverts__url">URL goes here.</r:editable_region>
    </div>
  </div>

</div>
