---
layout: default
custom_data_attributes:
  - advertisements_id
  - backpage_has_sidebar
  - backpage_header
  - backpage_header_badge
  - calendar_feed_page
  - agenda_id
  - calendar_id
  - directory_id
  - featurettes_id
  - featurettes_2_id
  - hero
  - profiles_id
  - show_instructions
  - staff_directory_id
  - testimonials_id
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
---



<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if v1="{$backpage_header}" v2="true" op="=">
<r:set_var name="bgurl">
  <r:page:slug />-header-background
</r:set_var>

<div class="so-backpage-header" style="<r:files:each labels="backpage-background" limit="1" types="image" random="true">background-image: url(<r:file:image_url size="1780x580" />);</r:files:each> <r:files:each labels="{$bgurl}" limit="1" types="image" random="true">background-image: url(<r:file:image_url size="1780x580" />);</r:files:each>">
  <r:partial name="patterns/wvu-breadcrumbs" />
  <div class="so-backpage-header__container">
    <r:if expr="{{ NOT(BLANK(backpage_header_badge)) }}">
      <div class="so-backpage-header__badge">
        <r:page:data name="backpage_header_badge" />
      </div>
    </r:if>
    <h1><span><r:page:first_non_blank_attr names="alternate_name, name" /></span></h1>
    <r:page:if_has_content_for region="wvu-profile__job-title">
      <p><r:page:content name="wvu-profile__job-title" /></p>
    </r:page:if_has_content_for>
  </div>
</div>

<r:edit_mode_only>
  <div class="so-instructions">
    <strong>Instructions for Backpage Header:</strong> This pattern is on all back pages. To change the background image, upload the photo you wish to use, then either label the photo with &ldquo;backpage-background&rdquo; (if you want it to show on all backpages), or label the photo with the page slug and a &ldquo;-header-background&rdquo; suffix. For example, if you want a unique background for a particular page, and the page is called &ldquo;About Us,&rdquo; label the file &ldquo;about-us-header-background.&rdquo;
  </div>
</r:edit_mode_only>

</r:if>

<r:if expr="{{ NOT(BLANK(slot_01)) }}">
  <r:set_var name="patternName1">
    custom-patterns/so-<r:page:data name="slot_01" />
  </r:set_var>
  <r:partial name="{$patternName1}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_02)) }}">
  <r:set_var name="patternName2">
    custom-patterns/so-<r:page:data name="slot_02" />
  </r:set_var>
  <r:partial name="{$patternName2}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_03)) }}">
  <r:set_var name="patternName3">
    custom-patterns/so-<r:page:data name="slot_03" />
  </r:set_var>
  <r:partial name="{$patternName3}" />
</r:if>


<r:partial name="custom-patterns/so-backpage" />

<r:partial name="custom-patterns/so-backpage-partials--bottom" />
