---
layout: default
custom_data_attributes:
- agenda_id
- alternate_url
- backpage_has_sidebar
- backpage_has_subnav
- backpage_header
- backpage_header_badge
- backpage_main
- bgcolor_adverts
- bgcolor_backpage
- bgcolor_calendar_widget
- bgcolor_diptych
- bgcolor_diptych_2
- bgcolor_diptych_3
- bgcolor_featurettes
- bgcolor_featurettes_2
- bgcolor_gallery
- bgcolor_lede_text
- bgcolor_media_object
- bgcolor_pentaptych
- bgcolor_pentaptych_2
- bgcolor_pentaptych_3
- bgcolor_polyptych
- bgcolor_profiles
- bgcolor_profiles_index
- bgcolor_quadriptych
- bgcolor_quadriptych_2
- bgcolor_quadriptych_3
- bgcolor_social_media
- bgcolor_super_nav
- bgcolor_testimonials
- bgcolor_triptych
- bgcolor_triptych_2
- bgcolor_triptych_3
- bgcolor_video
- calendar_url_page
- directory_id
- featurettes_id
- featurettes_2_id
- hero_has_video
- hero_text_alignment
- hero_vignetting
- jquery_defer_page
- link_text
- polyptych_items
- profile_quote
- profile_quote_author
- profiles_id
- rss_url
- search_action
- search_index_id
- show_instructions
- slot_01
- slot_02
- slot_03
- slot_04
- slot_05
- slot_06
- slot_07
- slot_07
- slot_08
- slot_09
- slot_10
- staff_directory_id
- testimonials_id
- thumbnail_alt
- thumbnail_url
- thumbnail_url_sq
---

<r:partial name="patterns/wvu-backpage-partials--top" />

<div class="wvu-container">

  <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>

  <article id="maincontent" class="main wvu-article wvu-article--individual" role="article" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">

    <h1 class="wvu-article__title" itemprop="headline"><r:page:name /></h1>
    <p class="wvu-article__meta">
      <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
        <span class="wvu-article__author" itemprop="name">
          <r:article:author_full_name />
        </span> <!-- /.wvu-article__author -->
      </span> <!-- /itemprop="author" -->
      | <time class="wvu-article__date" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" error_msg="Not Yet Published" /></time>
    </p> <!-- /.wvu-article__meta -->
    <div class="wvu-article__body" itemprop="articleBody">
      <r:editable_region name="article-body" />
    </div> <!-- /.wvu-article__body -->
  </article> <!-- /.wvu-article -->

  <aside class="wvu-sidebar" role="complementary">
    <h3>Related Articles</h3>
    <r:blog:articles limit="5" tags="{article:tags}" exclude_ids="{article:id}">
      <r:if_articles>
        <ul>
          <r:each>
            <li><a href="<r:article:path />"><r:article:name /></a></li>
          </r:each>
        </ul>
      </r:if_articles>
    </r:blog:articles>

    <div class="wvu-sub-nav">
      <h3>Archives</h3>
      <r:blog:archive:monthly ul_class="wvu-blog-archive" count_class="wvu-blog-archive__count" />
    </div> <!-- /.wvu-sub-nav -->
  </aside> <!-- /.wvu-sidebar -->

  <r:comment><!-- Need comments for Blog Articles? See https://disqus.com --></r:comment>

</div> <!-- /.wvu-container -->
