---
layout: default
custom_data_attributes:
 - backpage_header_badge
---

<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if v1="{$backpage_header}" v2="true" op="=">
  <r:partial name="custom-patterns/so-backpage-header" />
</r:if>

<div class="wvu-container">

  <main id="maincontent" class="main <r:page:unless_has_content_for region="wvu-sidebar">main--wide</r:page:unless_has_content_for> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">
    <r:partial name="custom-patterns/so-page-meta" />

    <div class="so-calendar__month">
      <r:edit_mode_only>
        <p><strong>Month:</strong></p>
      </r:edit_mode_only>
      <r:editable_region name="so-calendar__month" type="simple">
        Jan
      </r:editable_region>
    </div>
    <div class="so-calendar__day">
      <r:edit_mode_only>
        <p><strong>Day:</strong></p>
      </r:edit_mode_only>
      <r:editable_region name="so-calendar__day" type="simple">
        25
      </r:editable_region>
    </div>
    <div class="so-calendar__event-info">
      <h1><r:page:name /></h1>
      <r:edit_mode_only>
        <p><strong>Event Subhead:</strong></p>
      </r:edit_mode_only>
      <r:editable_region name="so-calendar__event-subhead" type="simple">
        Event subhead goes here
      </r:editable_region>
      <r:edit_mode_only>
        <p><strong>Event Description:</strong></p>
      </r:edit_mode_only>
      <r:editable_region name="so-calendar__event-description">
        Event description goes here.
      </r:editable_region>
    </div>
  </main>

  <r:partial name="custom-patterns/wvu-sidebar" />

</div> <!-- /.wvu-container -->
