---
layout: default
custom_data_attributes:
  - advertisements_id
  - backpage_has_sidebar
  - backpage_header_badge
  - calendar_feed_page
  - agenda_id
  - featurettes_id
  - profiles_id
  - staff_directory_id
  - testimonials_id
---

<r:partial name="custom-patterns/so-hero" />

<r:partial name="custom-patterns/so-adminHero" />

<r:partial name="custom-patterns/so-lede" />

<r:partial name="custom-patterns/so-anytych" />

<r:partial name="custom-patterns/so-anytych2" />

<r:partial name="custom-patterns/so-anytych3" />

<r:partial name="custom-patterns/so-anytych4" />

<r:partial name="custom-patterns/so-actionHero" />

<r:partial name="custom-patterns/so-backpage" />

<r:partial name="custom-patterns/so-video" />

<r:partial name="custom-patterns/so-featurettes" />

<r:partial name="custom-patterns/so-profiles" />

<r:partial name="custom-patterns/so-testimonial" />

<r:partial name="custom-patterns/so-adverts" />

<r:partial name="custom-patterns/so-social" />

<r:partial name="custom-patterns/so-calendar" />

<r:partial name="custom-patterns/so-agenda" />

<r:partial name="custom-patterns/so-quicklinks" />

<r:partial name="custom-patterns/so-twitter" />

<r:partial name="custom-patterns/so-superNav" />
