---
layout: default
custom_data_attributes:
  - advertisements_id
  - agenda_id
  - alternate_url
  - backpage_has_sidebar
  - backpage_header
  - backpage_header_badge
  - calendar_feed_page
  - calendar_id
  - directory_id
  - featurettes_id
  - featurettes_2_id
  - hero
  - hero_text_alignment
  - link_text
  - polyptych_panel_count
  - profiles_id
  - search_action
  - show_instructions
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
  - slot_07
  - slot_08
  - slot_09
  - slot_10
  - slot_11
  - slot_12
  - slot_13
  - slot_14
  - slot_15
  - slot_16
  - slot_17
  - slot_18
  - slot_19
  - slot_20
  - staff_directory_id
  - testimonials_id
  - thumbnail_alt
  - thumbnail_url
---

<a href="#" id="maincontent"></a>

<r:partial name="patterns/wvu-slots" />
