---
layout: performance-test
custom_data_attributes:
  - advertisements_id
  - agenda_id
  - backpage_has_sidebar
  - calendar_feed_page
  - calendar_id
  - featurettes_id
  - featurettes_2_id
  - hero
  - hero_text_alignment
  - profiles_id
  - show_instructions
  - staff_directory_id
  - testimonials_id
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
---

<a href="#" id="maincontent"></a>

<r:partial name="custom-patterns/so-hero" />
<r:partial name="custom-patterns/so-anytych" />
<r:partial name="custom-patterns/so-anytych2" />
<r:partial name="custom-patterns/so-quicklinksSitewide" />
<r:partial name="custom-patterns/so-superNav" />
