---
layout: default
custom_data_attributes:
 - agenda_id
 - backpage_header_badge
---

<div class="wvu-container">

  <main id="maincontent" class="main <r:page:unless_has_content_for region="wvu-sidebar">main--wide</r:page:unless_has_content_for> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">

    <r:partial name="custom-patterns/so-page-meta" />

    <r:set_var name="agenda_id">
      <r:page:data name="agenda_id" />
    </r:set_var>

    <h2><r:editable_region name="agenda-title" type="simple" /></h2>

    <r:get_page id="{$agenda_id}">
      <r:children:each>
        <r:set_var name="agenda_header">
          agenda-header--<r:index />
        </r:set_var>
        <r:page:if_has_content_for region="{$agenda_header}" always_show_in_edit_mode="true">
          <h3><r:editable_region name="{$agenda_header}" /></h3>
        </r:page:if_has_content_for>
        <table>

          <r:children:each>
            <tr>
              <td>
                <strong><r:page:content name="start-time" /> - <r:page:content name="end-time" /></strong>
              </td>
              <td>
                <strong><r:page:name /></strong><br>
                <r:page:content name="description" />
              </td>
            </tr>
          </r:children:each>

        </table>
      </r:children:each>
    </r:get_page>

  </main>

  <r:partial name="custom-patterns/wvu-sidebar" />

</div> <!-- /.wvu-container -->
