// WVU Color Pallette
//==================================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

// Accent
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #708573;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #E35205;
$pms-115-c: #FDDA24;

@mixin linear-gradient-background($top-background-color, $bottom-background-color) {
  background: $top-background-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($top-background-color, $bottom-background-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($top-background-color, $bottom-background-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($top-background-color, $bottom-background-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient($top-background-color, $bottom-background-color); /* Standard syntax */
}

@mixin wvu-dark-background($wvu-pattern-background-color, $wvu-pattern-text-color) {
  $wvu-background-color-five-percent: tint($wvu-pattern-background-color, 2%);
  background-color: $wvu-pattern-background-color;
  color: white;
  -webkit-font-smoothing: antialiased;
  @include linear-gradient-background($wvu-pattern-background-color, $wvu-background-color-five-percent);
  h1, h2, h3, h4, h5, h6 {
    color: white;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: tint($wvu-pattern-background-color, 90%);
      }
    }
  }
  h3 a {
    color: white;
    text-decoration: none;
    &:hover {
      color: tint($wvu-pattern-background-color, 90%);
    }
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: tint($wvu-pattern-background-color, 90%);
    }
    &.button {
      border-color: white;
      text-decoration: none;
      &:visited {
        color: white;
      }
      &:hover {
        background-color: white;
        color: $wvu-pattern-background-color;
      }
    }
  }
}

@mixin wvu-light-background($wvu-pattern-background-color, $wvu-pattern-text-color) {
  $wvu-background-color-five-percent: shade($wvu-pattern-background-color, 2%);
  background-color: $wvu-pattern-background-color;
  color: $wvu-pattern-text-color;
  -webkit-font-smoothing: antialiased;
  @include linear-gradient-background($wvu-background-color-five-percent, $wvu-pattern-background-color);
  h1, h2, h3, h4, h5, h6 {
    color: $wvu-pattern-text-color;
    a {
      color: $wvu-pattern-text-color;
      text-decoration: none;
      &:hover {
        color: shade($wvu-pattern-background-color, 90%);
      }
    }
  }
  a {
    color: $wvu-pattern-text-color;
    text-decoration: underline;
    &:hover {
      color: shade($wvu-pattern-background-color, 90%);
    }
    &.button {
      border-color: $wvu-pattern-text-color;
      text-decoration: none;
      &:hover {
        background-color: $wvu-pattern-text-color;
        color: $wvu-pattern-background-color;
      }
    }
  }
}

.u-white {
  border-color: white;
  color: white;
  &.background {
    @include wvu-light-background(white, $black);
  }
}

@mixin wvu-white-background {
  @include wvu-light-background(white, $black);
}

// Primary
.u-wvu-blue {
  border-color: $wvu-blue;
  color: $wvu-blue;
  &.background {
    @include wvu-dark-background($wvu-blue, white);
  }
}

@mixin wvu-blue-background {
  @include wvu-dark-background($wvu-blue, white);
}

.u-wvu-gold {
  border-color: $wvu-gold;
  color: $wvu-gold;
  &.background {
    @include wvu-light-background($wvu-gold, $wvu-blue);
  }
}

@mixin wvu-gold-background {
  @include wvu-light-background($wvu-gold, $wvu-blue);
}

//  Secondary
.u-black {
  color: $black;
  &.background {
    @include wvu-dark-background($black, white);
  }
}

@mixin black-background {
  @include wvu-dark-background($black, white);
}

.u-pms-432-c {
  border-color: $pms-432-c;
  color: $pms-432-c;
  &.background {
    @include wvu-dark-background($pms-432-c, white);
  }
}

@mixin pms-432-c-background {
  @include wvu-dark-background($pms-432-c, white);
}

.u-pms-429-c {
  border-color: $pms-429-c;
  color: $pms-429-c;
  &.background {
    @include wvu-light-background($pms-429-c, $black);
  }
}

@mixin pms-429-c-background {
  @include wvu-light-background($pms-429-c, $black);
}

.u-pms-warm-gray-11 {
  border-color: $pms-warm-gray-11;
  color: $pms-warm-gray-11;
  &.background {
    @include wvu-dark-background($pms-warm-gray-11, white);
  }
}

@mixin pms-warm-gray-11-background {
  @include wvu-dark-background($pms-warm-gray-11, white);
}

.u-pms-warm-gray-7 {
  border-color: $pms-warm-gray-7;
  color: $pms-warm-gray-7;
  &.background {
    @include wvu-dark-background($pms-warm-gray-7, $black);
  }
}

@mixin pms-warm-gray-7-background {
  @include wvu-dark-background($pms-warm-gray-7, $black);
}

.u-pms-warm-gray-3 {
  border-color: $pms-warm-gray-3;
  color: $pms-warm-gray-3;
  &.background {
    @include wvu-light-background($pms-warm-gray-3, $black);
  }
}

@mixin pms-warm-gray-3-background {
  @include wvu-light-background($pms-warm-gray-3, $black);
}

// Tertiary
.u-pms-286-c { color: $pms-286-c;
  border-color: $pms-286-c;
  color: $pms-286-c;
  &.background {
    @include wvu-dark-background($pms-286-c, white);
  }
}

@mixin pms-286-c-background {
  @include wvu-dark-background($pms-286-c, white);
}

.u-pms-300-c {
  border-color: $pms-300-c;
  color: $pms-300-c;
  &.background {
    @include wvu-dark-background($pms-300-c, white);
  }
}

@mixin pms-300-c-background {
  @include wvu-dark-background($pms-300-c, white);
}

.u-pms-629-c {
  border-color: $pms-629-c;
  color: $pms-629-c;
  &.background {
    @include wvu-light-background($pms-629-c, $wvu-blue);
  }
}

@mixin pms-629-c-background {
  @include wvu-light-background($pms-629-c, $pms-629-c);
}

.u-pms-7554-c {
  border-color: $pms-7554-c;
  color: $pms-7554-c;
  &.background {
    @include wvu-dark-background($pms-7554-c, white);
  }
}

@mixin pms-7554-c-background {
  @include wvu-dark-background($pms-7554-c, white);
}

.u-pms-7557-c {
  border-color: $pms-7557-c;
  color: $pms-7557-c;
  &.background {
    @include wvu-dark-background($pms-7557-c, white);
  }
}

@mixin pms-7557-c-background {
  @include wvu-dark-background($pms-7557-c, white);
}

.u-pms-144-c {
  border-color: $pms-144-c;
  color: $pms-144-c;
  &.background {
    @include wvu-dark-background($pms-144-c, white);
  }
}

@mixin pms-144-c-background {
  @include wvu-dark-background($pms-144-c, white);
}

.u-pms-7476-c {
  border-color: $pms-7476-c;
  color: $pms-7476-c;
  &.background {
    @include wvu-dark-background($pms-7476-c, white);
  }
}

@mixin pms-7476-c-background {
  @include wvu-dark-background($pms-7476-c, white);
}

.u-pms-5625-c {
  border-color: $pms-5625-c;
  color: $pms-5625-c;
  &.background {
    @include wvu-dark-background($pms-5625-c, white);
  }
}

@mixin pms-5625-c-background {
  @include wvu-dark-background($pms-5625-c, white);
}

.u-pms-558-c {
  border-color: $pms-558-c;
  color: $pms-558-c;
  &.background {
    @include wvu-dark-background($pms-166-c, white);
  }
}

@mixin pms-558-c-background {
  @include wvu-dark-background($pms-558-c, white);
}

.u-pms-180-c {
  border-color: $pms-180-c;
  color: $pms-180-c;
  &.background {
    @include wvu-dark-background($pms-166-c, white);
  }
}

@mixin pms-180-c-background {
  @include wvu-dark-background($pms-180-c, white);
}

.u-pms-166-c {
  border-color: $pms-166-c;
  color: $pms-166-c;
  &.background {
    @include wvu-dark-background($pms-166-c, white);
  }
}

@mixin pms-166-c-background {
  @include wvu-dark-background($pms-166-c, white);
}

.u-pms-115-c { color: $pms-115-c;
  border-color: $pms-115-c;
  color: $pms-115-c;
  &.background {
    @include wvu-light-background($pms-115-c, $black);
  }
}

@mixin pms-115-c-background {
  @include wvu-light-background($pms-115-c, $black);
}
