// WVU Color Pallette
//==================================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

$wvu-white: #F9F9F9;
$wvu-dune: $black;
$wvu-limed-spruce: $pms-432-c;
$wvu-gray-chateau: $pms-429-c;
$wvu-pine-cone: $pms-warm-gray-11;
$wvu-schooner: $pms-warm-gray-7;
$wvu-tide: $pms-warm-gray-3;

// Accent
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #708573;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #E35205;
$pms-115-c: #FDDA24;

$wvu-smalt: $pms-286-c;
$wvu-endeavor: $pms-300-c;
$wvu-morning-glory: $pms-629-c;
$wvu-judge-gray: $pms-7554-c;
$wvu-reef-gold: $pms-7557-c;
$wvu-tangerine: $pms-144-c;
$wvu-eden: $pms-7476-c;
$wvu-xanadu: $pms-5625-c;
$wvu-summer-green: $pms-558-c;
$wvu-well-read: $pms-180-c;
$wvu-trinidad: $pms-166-c;
$wvu-candelight: $pms-115-c;

// Dark backgrounds

@each $color, $text-color in (blue, $wvu-blue),
                             (dune, $wvu-dune),
                             (limed-spruce, $wvu-limed-spruce),
                             (pine-cone, $wvu-pine-cone),
                             (schooner, $wvu-schooner),
                             (smalt, $wvu-smalt),
                             (endeavor, $wvu-endeavor),
                             (eden, $wvu-eden),
                             (xanadu, $wvu-xanadu),
                             (reef-gold, $wvu-reef-gold),
                             (well-read, $wvu-well-read),
                             (judge-gray, $wvu-judge-gray),
                             (trinidad, $wvu-trinidad) {
  .wvu-#{$color} {
    color: $text-color;
    border-color: $text-color;
    &.background {
      $text-color-gradient: shade($text-color, 5%);
      color: white;
      background-color: $text-color;
      @include background-image(linear-gradient($text-color-gradient, $text-color));
      -webkit-font-smoothing: antialiased;
      h1, h2, h3, h4, h5, h6, a, .button {
        color: white;
        a {
          color: white;
        }
      }
      .button {
        border-color: white;
        &:hover {
          background-color: white;
          color: $text-color;
        }
      }
    }
  }
}

// Light backgrounds

@each $color, $text-color in (gold, $wvu-gold),
                             (white, $wvu-white),
                             (gray-chateau, $wvu-gray-chateau),
                             (tide, $wvu-tide),
                             (morning-glory, $wvu-morning-glory),
                             (tangerine, $wvu-tangerine),
                             (candelight, $wvu-candelight),
                             (summer-green, $wvu-summer-green) {
  .wvu-#{$color} {
    color: $text-color;
    border-color: $text-color;
    &.background {
      $text-color-gradient: shade($text-color, 5%);
      color: $wvu-dune;
      background-color: $text-color;
      @include background-image(linear-gradient($text-color-gradient, $text-color));
      -webkit-font-smoothing: antialiased;
      h1, h2, h3, h4, h5, h6, a, .button {
        color: $wvu-dune;
        a {
          color: $wvu-dune;
        }
      }
      .button {
        border-color: $wvu-dune;
        &:hover {
          background-color: $wvu-dune;
          color: $text-color;
        }
      }
    }
  }
}

.wvu-gold-pattern {
  &.background {
    @include wvu-gold-background();
    background-color: $wvu-gold;
    background-image: url(https://admissions.wvu.edu/images/wvu-pattern-background--gold.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

$i: 100;
@while $i > 0 {
  @each $color, $text-color in (gray-chateau, $wvu-gray-chateau),
                               (tide, $wvu-tide),
                               (dune, $wvu-dune),
                               (limed-spruce, $wvu-limed-spruce),
                               (pine-cone, $wvu-pine-cone),
                               (schooner, $wvu-schooner) {
    .wvu-#{$color}-tint-#{$i} {
      color: tint($text-color, $i);
      border-color: tint($text-color, $i);
      &.background {
        color: $wvu-dune;
        background-color: tint($text-color, $i);
        -webkit-font-smoothing: antialiased;
      }
    }
    .wvu-#{$color}-shade-#{$i} {
      color: shade($text-color, $i);
      border-color: shade($text-color, $i);
      &.background {
        color: white;
        background-color: shade($text-color, $i);
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  $i: $i - 10;
}
