.cs-event-agenda {
  background-color: $wvu-gold;
  h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-family: $helvetica-neue-light;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
  }
  table {
    margin-bottom: 3em;
  }
}
.cs-event-agenda__container {
  @include outer-container();
  @include u-wvu-container-padding();
}
td {
  border-bottom: 1px solid shade($wvu-gold, 10%);
  color: $black;
  font-size: 1.5em;
}
