.wvu-masthead--blue { background-color: $wvu-blue; color: white; background-image: none;
  input[type="submit"] {
    &.form-search__submit {
      &:hover { background-color: $wvu-blue; border-color: white; }
    }
  }
  .wvu-masthead__logo { color: white;
    &:hover { color: $pms-300-c; }
    &:visited { color: $wvu-blue; }
  }
  .wvu-masthead__link { color: white;
    &:hover { color: $wvu-base-link-color; }
  }
  .wvu-masthead__college-link a { background: $wvu-gold; color: $wvu-blue; }
}

.wvu-masthead--gold { 
  background-color: $wvu-gold !important; 
  color: $wvu-blue !important;
}

.wvu-masthead--white { 
  background-color: white !important;
  color: $wvu-blue !important;
}