@mixin red-asterisk() {
  color: red;
  content: '*';
  font-size: 24px;
  left: -30px;
  position: absolute;
  top: 0;
}

@mixin double-red-asterisk() {
  color: red;
  content: '**';
  font-size: 24px;
  left: -30px;
}

.page--edit-mode {
  .so-magic-anytych__body, .wvu-masthead__college-link a.edit-mode, .so-super-nav__description {
    position: relative;
    &:before {
      @include red-asterisk();
    }
  }
  .so-magic-anytych__container .so-magic-anytych__panel {
    &:first-child {
      .so-magic-anytych__body {
        &:before {
          @include double-red-asterisk();
        }
      }
    }
  }
  .so-super-nav__container .so-super-nav__panel {
    &:first-child {
      .so-super-nav__description {
        &:before {
          @include double-red-asterisk();
        }
      }
    }
  }
  .so-hero h1, .so-action-hero h2, .so-video__video .u-wvu-embed-container, .so-lede p, .cs-event-agenda h2, .so-social-media h2, .so-twitter-widget h2, .so-calendar-widget h2 {
    &:before {
      @include double-red-asterisk();
    }
  }
  .so-hero__container:before {
    z-index: -1;
  }
}

.page--hide-instructions-false {
  .so-instructions {
    display: none;
  }
}
