.cs-rss-snippet {
  padding: 1em 0;
}

.so-calendar-widget__container {
  @include outer-container();
  @include u-wvu-container-padding();
}

.so-calendar-widget__header {
  text-align: center;
  h2 {
    @include wvu-secondary-pattern-heading();
  }
  h3 {
    @include wvu-secondary-pattern-heading();
    font-size: 2.4em;
  }
  p {
    margin: 0 auto;
  }
}

.so-calendar-widget__postscript {
  @include so-postscript();
  p {
    max-width: 99999em;
  }
}

.wvu-calendar {
  li {
    .eventDate {
      float: none;
      font-weight: bold;
    }
  }
}

.wvu-calendar--flex {
  font-size: 1em;
}

.ua-calendar-widget {
  a {
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.so-calendar-widget__date {
  border: 1px solid tint($black, 50%);
  border-radius: 3px;
  line-height: 1.2em;
  padding: .5em 0;
  text-align: center;
  @include mq($bp-medium) {
    @include span-columns(2);
  }
}

.so-calendar-widget__item {
  margin-bottom: 1em;
  @include span-columns(12);
}

.so-calendar-widget__day {
  font-size: 1.5em;
}

.so-calendar-widget__details {
  @include mq($bp-medium) {
    @include span-columns(10);
  }
}

.wvu-sidebar, .so-featurettes__featurette, .so-magic-anytych__panel {
  .so-calendar-widget__postscript, .so-calendar-widget__header {
    display: none;
  }
  .so-calendar-widget__container {
    padding: 0;
  }
  .wvu-calendar--flex { padding-left: 0;
    li { padding-right: 1em; }
    @include mq($bp-medium) {
      display: block;
      li {
        width: 100%;
        padding: 0 0 1em 0;
      }
    }
  }
}
