.so-hero {
  background-color: $pms-432-c;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
  padding: 0 2em;
  position: relative;
  @include mq($bp-xlarge) {
    padding: 0;
  }
  a {
    color: white;
    position: relative;
    z-index: 3;
  }
  h1 {
    font-size: $wvu-shout-font-size;
    line-height: $header-line-height;
    margin-bottom: 0;
    margin-top: 1em;
    max-width: 8em;
    position: relative;
    @include wvu-shout();
    text-transform: uppercase;
    @include so-gold-slash();
    &:before {
      background-size: 292px;
      left: -173px;
      top: -83px;
    }
    span {
      position: relative;
      z-index: 3;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  img {
    border: 1px solid $black;
    position: relative;
    z-index: 3;
  }
  p {
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative;
    z-index: 3;
  }
}

.so-hero__copy {
  margin-bottom: 2em;
  @include mq($bp-medium) {
    margin-bottom: 0;
  }
}

.so-hero__container {
  @include outer-container();
  @include u-wvu-container-padding();
}

.so-hero--big-photo {
  .so-hero__container {
    @include so-vignetting();
  }
}

.so-hero__copy, .so-hero__photo {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
}

.so-hero--big-photo {
  .so-hero__copy {
    h1 {
      font-size: 4.5em;
      margin-top: .8em;
      @include mq($bp-large) {
        font-size: 6.2em;
        max-width: 6em;
      }
      &:before {
        background-size: 433px;
        left: -240px;
        top: -124px;
      }
    }
    p {
      font-size: 1.25em;
      max-width: 24em;
    }
    h1, p, a {
      text-shadow: 1px 1px 1px #000000;
    }
    a {
      &:hover {
        text-shadow: none;
      }
    }
    @include mq($bp-medium) {
      @include span-columns(12);
    }
    &.so-hero__copy--edit-mode {
      @include mq($bp-medium) {
        @include span-columns(6);
      }
    }
  }
  .so-hero__container {
    padding: 4em 0 8.3em 0;
  }
}

.so-hero__photo-caption {
  background-color: $black;
  color: shade(white, 20%);
  font-size: 0.8em;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
  @include mq($bp-medium) {
    float: right;
  }
}

.page--edit-mode {
  .so-hero {
    h1 {
      &:before {
        display: none;
      }
    }
  }
  .so-hero--big-photo {
    .so-hero__container {
      &:before {
        display: none;
      }
    }
  }
}

.so-hero--right {
  .so-hero__container {
    &:before {
      background: radial-gradient(farthest-side at 30% 55%, transparent, #000 131%);
    }
  }
  .so-hero__copy {
    float: right;
    width: auto;
  }
}
