.so-testimonial-listing__testimonial {
  margin-bottom: 3em;
}

.so-testimonial-listing__profile {
  @include mq($bp-medium) {
    @include span-columns(4);
  }
}

.so-testimonial-listing__photo {
  margin-bottom: 2em;
  img {
    border-radius: 50%;
  }
}

.so-testimonial-listing__quote {
  @include mq($bp-medium) {
    @include span-columns(8);
  }
}

.so-testimonial-listing__quote-text {
  font-family: $iowan-old-style;
  font-size: 2em;
  margin-bottom: 1em;
}
