
h1, h2, h3, h4, h5, h6 {
  &.wvu-header-divider {
    border-top: 1px solid tint($black, 90%);
    margin-top: 1em;
    padding-top: 1em;
  }
}

ul {
  &.wvu-slashes {
    list-style-type: none;
    padding-left: 0;
    li {
      padding-left: 2em;
      background: url(https://patterns.wvu.edu/images/diagonal-gold.svg) no-repeat 0 0px;
      background-size: 20px;
      margin-left: 0;
    }
  }
  &.wvu-unstyled {
    list-style-type: none;
    padding-left: 0;
  }
}

.wvu-lede--small {
  font-size: 1.5em;
  max-width: 29em;
}
