<r:if expr="{{ NOT(BLANK(slot_01)) }}">
  <r:set_var name="patternName1">
    patterns/wvu-<r:page:data name="slot_01" />
  </r:set_var>
<r:partial name="{$patternName1}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_02)) }}">
  <r:set_var name="patternName2">
    patterns/wvu-<r:page:data name="slot_02" />
  </r:set_var>
<r:partial name="{$patternName2}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_03)) }}">
  <r:set_var name="patternName3">
    patterns/wvu-<r:page:data name="slot_03" />
  </r:set_var>
<r:partial name="{$patternName3}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_04)) }}">
  <r:set_var name="patternName4">
    patterns/wvu-<r:page:data name="slot_04" />
  </r:set_var>
<r:partial name="{$patternName4}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_05)) }}">
  <r:set_var name="patternName5">
    patterns/wvu-<r:page:data name="slot_05" />
  </r:set_var>
<r:partial name="{$patternName5}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_06)) }}">
  <r:set_var name="patternName6">
    patterns/wvu-<r:page:data name="slot_06" />
  </r:set_var>
<r:partial name="{$patternName6}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_07)) }}">
  <r:set_var name="patternName7">
    patterns/wvu-<r:page:data name="slot_07" />
  </r:set_var>
<r:partial name="{$patternName7}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_08)) }}">
  <r:set_var name="patternName8">
    patterns/wvu-<r:page:data name="slot_08" />
  </r:set_var>
<r:partial name="{$patternName8}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_09)) }}">
  <r:set_var name="patternName9">
    patterns/wvu-<r:page:data name="slot_09" />
  </r:set_var>
  <r:partial name="{$patternName9}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_10)) }}">
  <r:set_var name="patternName10">
    patterns/wvu-<r:page:data name="slot_10" />
  </r:set_var>
  <r:partial name="{$patternName10}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_11)) }}">
  <r:set_var name="patternName11">
    patterns/wvu-<r:page:data name="slot_11" />
  </r:set_var>
  <r:partial name="{$patternName11}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_12)) }}">
  <r:set_var name="patternName12">
    patterns/wvu-<r:page:data name="slot_12" />
  </r:set_var>
  <r:partial name="{$patternName12}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_13)) }}">
  <r:set_var name="patternName13">
    patterns/wvu-<r:page:data name="slot_13" />
  </r:set_var>
  <r:partial name="{$patternName13}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_14)) }}">
  <r:set_var name="patternName14">
    patterns/wvu-<r:page:data name="slot_14" />
  </r:set_var>
  <r:partial name="{$patternName14}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_15)) }}">
  <r:set_var name="patternName15">
    patterns/wvu-<r:page:data name="slot_15" />
  </r:set_var>
  <r:partial name="{$patternName15}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_16)) }}">
  <r:set_var name="patternName16">
    patterns/wvu-<r:page:data name="slot_16" />
  </r:set_var>
  <r:partial name="{$patternName16}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_17)) }}">
  <r:set_var name="patternName17">
    patterns/wvu-<r:page:data name="slot_17" />
  </r:set_var>
  <r:partial name="{$patternName17}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_18)) }}">
  <r:set_var name="patternName18">
    patterns/wvu-<r:page:data name="slot_18" />
  </r:set_var>
  <r:partial name="{$patternName18}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_19)) }}">
  <r:set_var name="patternName19">
    patterns/wvu-<r:page:data name="slot_19" />
  </r:set_var>
  <r:partial name="{$patternName19}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_20)) }}">
  <r:set_var name="patternName20">
    patterns/wvu-<r:page:data name="slot_20" />
  </r:set_var>
  <r:partial name="{$patternName20}" />
</r:if>
