
<div class="wvu-directory wvu-directory--<r:site:id />">
  <div class="wvu-directory__container">
    <r:get_page id="{$directory_id}">
      <r:children:each>
        <r:if_children>
          <r:set_var name="directory_has_children" value="true" />
        </r:if_children>
      </r:children:each>
      <r:if value1="{$directory_has_children}" value2="true" op="=">
        <r:children:each>
          <h2><r:page:name /></h2>
          <table cellspacing="0" cellpadding="0" class="fin-staff-directory">
            <tbody>
              <r:children:each>
                <tr>
                  <td class="wvu-directory__name">
                    <strong><r:page:first_non_blank_attr names="alternate_name,name" /></strong>
                  </td>
                  <td class="wvu-directory__job-title">
                    <r:page:content name="wvu-profile__job-title" />
                  </td>
                  <td class="wvu-directory__phone"><r:page:content name="wvu-profile__phone" /></td>
                  <td class="wvu-directory__email">
                    <r:set_var name="email_address"><r:page:content name="wvu-profile__email-3" /></r:set_var>
                    <r:if v1="{{BLANK(email_address)}}" v2="false" operator="=" type="boolean">
                      <a class="wvu-directory__email-link" href="mailto:<r:page:content name="wvu-profile__email-3" />"><r:page:content name="wvu-profile__email-3" /></a>
                    </r:if>
                  </td>
                  <td class="wvu-directory__webpage">
                    <a href="<r:page:unless_has_content_for region="so-featurettes__url"><r:page:url /></r:page:unless_has_content_for><r:page:if_has_content_for region="so-featurettes__url"><r:page:content name="so-featurettes__url" /></r:page:if_has_content_for>">
                      Web Page
                    </a>
                  </td>
                </tr>
              </r:children:each>
            </tbody>
          </table>
        </r:children:each>
      </r:if>
      <r:if value1="{$directory_has_children}" value2="true" op="!=">
        <r:children>
          <table cellspacing="0" cellpadding="0" class="fin-staff-directory">
            <tbody>
              <r:each>
                <tr>
                  <td class="wvu-directory__name">
                    <strong><r:page:first_non_blank_attr names="alternate_name,name" /></strong>
                  </td>
                  <td class="wvu-directory__job-title">
                    <r:page:content name="wvu-profile__job-title" />
                  </td>
                  <td class="wvu-directory__phone"><r:page:content name="wvu-profile__phone" /></td>
                  <td class="wvu-directory__email">
                    <r:set_var name="email_address"><r:page:content name="wvu-profile__email-3" /></r:set_var>
                    <r:if v1="{{BLANK(email_address)}}" v2="false" operator="=" type="boolean">
                      <a class="wvu-directory__email-link" href="mailto:<r:page:content name="wvu-profile__email-3" />"><r:page:content name="wvu-profile__email-3" /></a>
                    </r:if>
                  </td>
                  <td class="wvu-directory__webpage">
                    <a href="<r:page:unless_has_content_for region="so-featurettes__url"><r:page:url /></r:page:unless_has_content_for><r:page:if_has_content_for region="so-featurettes__url"><r:page:content name="so-featurettes__url" /></r:page:if_has_content_for>">
                      Web Page
                    </a>
                  </td>
                </tr>
              </r:each>
            </tbody>
          </table>
        </r:children>
      </r:if>
    </r:get_page>
  </div>
</div>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Directory:</strong> This displays a table of names. Child pages should serve as categories e.g. Child pages of those are for individual staff members.</p>
  </div>
</r:edit_mode_only>
