<div class="wvu-masthead wvu-masthead--<r:site:id /> wvu-masthead--<r:site:data name="masthead_color" /> wvu-masthead--buttons <r:files:each labels="masthead-logo" limit="1" types="image" random="true">wvu-masthead--blue</r:files:each>">
  <div class="wvu-masthead__container">
    <r:partial name="patterns/wvu-masthead__logo" />

    <div class="wvu-masthead__apply-links">
      <r:if expr="{{ NOT(BLANK(apply_link_1)) }}">
        <a href="<r:site:data name="apply_link_1_url" />" class="button"><r:site:data name="apply_link_1" /></a>
      </r:if>
      <r:if expr="{{ NOT(BLANK(apply_link_2)) }}">
        <a href="<r:site:data name="apply_link_2_url" />" class="button"><r:site:data name="apply_link_2" /></a>
      </r:if>
      <r:if expr="{{ NOT(BLANK(apply_link_3)) }}">
        <a href="<r:site:data name="apply_link_3_url" />" class="button"><r:site:data name="apply_link_3" /></a>
      </r:if>
    </div>

  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead -->
