<div class="wvu-nav wvu-nav--<r:site:id /> wvu-nav--social">
  <div class="wvu-nav__container">

    <div class="wvu-nav__nav wvu-nav__nav--depth-<r:site:data name="nav_depth" />">
      <button class="wvu-nav__search-toggle inactive-search" onclick="document.getElementsByClassName('wvu-masthead__search-slider')[0].classList.toggle('closed');">Toggle Search</button>
      <r:site_menu max_depth="{$nav_depth}" ul_class="wvu-nav__items nav-collapse" has_children_class="more" />
    </div>

    <div class="wvu-nav__social-media-icons">
      <div class="wvu-nav__social-media-icons-container">

        <r:if expr="{{ NOT(BLANK(facebook_url)) }}">
          <a href="<r:site:data name="facebook_url" />"><img src="https://patterns.wvu.edu/images/social-media-icons/facebook.svg" alt="Facebook icon" /></a>
        </r:if>

        <r:if expr="{{ NOT(BLANK(github_url)) }}">
          <a href="<r:site:data name="github_url" />"><img src="https://patterns.wvu.edu/images/social-media-icons/github.svg" alt="GitHub icon" /></a>
        </r:if>

        <r:if expr="{{ NOT(BLANK(instagram_url)) }}">
          <a href="<r:site:data name="instagram_url" />"><img src="https://patterns.wvu.edu/images/social-media-icons/instagram.svg" alt="Instagram icon" /></a>
        </r:if>

        <r:if expr="{{ NOT(BLANK(linkedin_url)) }}">
          <a href="<r:site:data name="linkedin_url" />"><img src="https://patterns.wvu.edu/images/social-media-icons/linkedin.svg" alt="LinkedIn icon" /></a>
        </r:if>

        <r:if expr="{{ NOT(BLANK(rss_url)) }}">
          <a href="<r:site:data name="rss_url" />"><img src="https://patterns.wvu.edu/images/social-media-icons/rss.svg" alt="RSS icon" /></a>
        </r:if>

        <r:if expr="{{ NOT(BLANK(twitter_url)) }}">
          <a href="<r:site:data name="twitter_url" />"><img src="https://patterns.wvu.edu/images/social-media-icons/twitter.svg" alt="Twitter icon" /></a>
        </r:if>

        <r:if expr="{{ NOT(BLANK(youtube_url)) }}">
          <a href="<r:site:data name="youtube_url" />"><img src="https://patterns.wvu.edu/images/social-media-icons/youtube.svg" alt="YouTube icon" /></a>
        </r:if>

      </div>
    </div>

  </div>
</div>
