<r:if expr="{{ NOT(BLANK(slot_01)) }}">
  <r:set_var name="patternName1">
    <r:page:data name="slot_01" />
  </r:set_var>
  <r:partial name="{$patternName1}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_02)) }}">
  <r:set_var name="patternName2">
    <r:page:data name="slot_02" />
  </r:set_var>
  <r:partial name="{$patternName2}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_03)) }}">
  <r:set_var name="patternName3">
    <r:page:data name="slot_03" />
  </r:set_var>
  <r:partial name="{$patternName3}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_04)) }}">
  <r:set_var name="patternName4">
    <r:page:data name="slot_04" />
  </r:set_var>
  <r:partial name="{$patternName4}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_05)) }}">
  <r:set_var name="patternName5">
    <r:page:data name="slot_05" />
  </r:set_var>
  <r:partial name="{$patternName5}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_06)) }}">
  <r:set_var name="patternName6">
    <r:page:data name="slot_06" />
  </r:set_var>
  <r:partial name="{$patternName6}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_07)) }}">
  <r:set_var name="patternName7">
    <r:page:data name="slot_07" />
  </r:set_var>
  <r:partial name="{$patternName7}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_08)) }}">
  <r:set_var name="patternName8">
    <r:page:data name="slot_08" />
  </r:set_var>
  <r:partial name="{$patternName8}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_09)) }}">
  <r:set_var name="patternName9">
    <r:page:data name="slot_09" />
  </r:set_var>
  <r:partial name="{$patternName9}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_10)) }}">
  <r:set_var name="patternName10">
    <r:page:data name="slot_10" />
  </r:set_var>
  <r:partial name="{$patternName10}" />
</r:if>
