<div class="wvu-pattern-instructions">
  <div class="wvu-pattern-instructions__container">
    <div class="wvu-pattern-instructions__color-swatches">
      <h2>Colors</h2>
      <ul>
        <li class="wvu-gold background">wvu-gold</li>
        <li class="wvu-blue background">wvu-blue</li>
        <li class="wvu-dune background">wvu-dune</li>
        <li class="wvu-limed-spruce background">wvu-limed-spruce</li>
        <li class="wvu-limed-spruce background">wvu-limed-spruce</li>
      </ul>
    </div>
    <div class="wvu-pattern-instructions__intro">
      <r:editable_region name="wvu-pattern-instructions__intro" />
    </div>
    <div class="wvu-pattern-instructions__options">
      <r:editable_region name="wvu-pattern-instructions__options">
        <h2>Options</h2>
        <table>
          <tbody>
            <tr>
              <th>Data Field</th>
              <th>Location</th>
              <th>Option</th>
              <th>Result</th>
            </tr>
            <tr>
              <td><code>hero</code></td>
              <td>Site Properties > Data</td>
              <td><code>false</code></td>
              <td>Removes hero from any page using the Frontpage template.</td>
            </tr>
          </tbody>
        </table>
      </r:editable_region>
    </div>
    <div class="wvu-pattern-instructions__dos-and-donts">
      <div class="wvu-pattern-instructions__do">
        <h2>Do</h2>
        <r:editable_region name="wvu-pattern-instructions__do" />
      </div>
      <div class="wvu-pattern-instructions__dont">
        <h2>Don&rsquo;t</h2>
        <r:editable_region name="wvu-pattern-instructions__dont" />
      </div>
    </div>
  </div>
</div>

<r:content_for name="page_js">
  <script type="text/javascript">

    $('.wvu-gold').click(function(){
      $('.background').addClass('wvu-gold');
    });
    $('.wvu-blue').click(function(){
      $('.background').addClass('wvu-blue');
    });
    $('.wvu-dune').click(function(){
      $('.background').addClass('wvu-dune');
    });
    $('.wvu-limed-spruce').click(function(){
      $('.background').addClass('wvu-limed-spruce');
    });
    $('.wvu-gray-chateau').click(function(){
      $('.background').addClass('wvu-gray-chateau');
    });
    $('.wvu-pine-cone').click(function(){
      $('.background').addClass('wvu-pine-cone');
    });
    $('.wvu-schooner').click(function(){
      $('.background').addClass('wvu-schooner');
    });
    $('.wvu-tide').click(function(){
      $('.background').addClass('wvu-tide');
    });
    $('.wvu-smalt').click(function(){
      $('.background').addClass('wvu-smalt');
    });
    $('.wvu-endeavor').click(function(){
      $('.background').addClass('wvu-endeavor');
    });
    $('.wvu-morning-glory').click(function(){
      $('.background').addClass('wvu-morning-glory');
    });
    $('.wvu-judge-gray').click(function(){
      $('.background').addClass('wvu-judge-gray');
    });
    $('.wvu-reef-gold').click(function(){
      $('.background').addClass('wvu-reef-gold');
    });
    $('.wvu-tangerine').click(function(){
      $('.background').addClass('wvu-tangerine');
    });
    $('.wvu-eden').click(function(){
      $('.background').addClass('wvu-eden');
    });
    $('.wvu-xanadu').click(function(){
      $('.background').addClass('wvu-xanadu');
    });
    $('.wvu-summer-green').click(function(){
      $('.background').addClass('wvu-summer-green');
    });
    $('.wvu-well-read').click(function(){
      $('.background').addClass('wvu-well-read');
    });
    $('.wvu-trinidad').click(function(){
      $('.background').addClass('wvu-trinidad');
    });
    $('.wvu-candelight').click(function(){
      $('.background').addClass('wvu-candelight');
    });

  </script>
</r:content_for>
