<div class="wvu-gallery">

  <div class="wvu-gallery__container">

    <r:get_page id="{$gallery_id}">

      <r:children:each>
        <h3><r:page:name /></h3>
        <div class="so-gallery">
          <ul class="photos">
            <r:set_var name="gallerypage">
              <r:page:slug />-gallery
            </r:set_var>
            <r:files:each labels="{$gallerypage}" types="image">
              <li>
                <a href="<r:file:image_url size="960x640" />" title="<r:file:description />"><r:file:image_tag size="240x160" alt="{file:alt_text}" /></a>
              </li>
            </r:files:each>
          </ul>
        </div>
      </r:children:each>

    </r:get_page>

  </div>

</div> <!-- /.wvu-gallery -->

<r:edit_mode_only>
  <div class="wvu-instructions">
    <strong>Instructions for Gallery Index:</strong> This loops through child pages and displays a gallery for each page. Enter the ID of the parent gallery page in the &lsquo;gallery_id&rsquo; custom data attribute of this page.</p>
    <p><strong>Background Color:</strong> <r:editable_region name="wvu-background-color-class--featurettes" /></p>
  </div>
</r:edit_mode_only>

<r:content_for name="page_js">
  <r:partial name="custom-patterns/javascript-gallery" />
</r:content_for>
