<r:set_var name="page_slug">
  <r:page:slug />
</r:set_var>

<div class="wvu-featurettes wvu-featurettes--profiles background">
  <div class="wvu-featurettes__container">

    <r:root>

      <r:descendants>
        <div class="wvu-featurettes__featurettes wvu-featurettes__featurettes--<r:count />">
          <r:each order="asc" labels="profile, {$page_slug}" labels_match="all">
            <div class="wvu-featurettes__featurette">

              <r:set_var name="soFeaturettesInfoProfilesWideAnywhere" default="nophoto" />
              <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
                <div class="wvu-featurettes__photo">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:page:data name="thumbnail_url_sq" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url_sq" />/960x640.jpg, <r:page:data name="thumbnail_url_sq" />/586x286.jpg, <r:page:data name="thumbnail_url_sq" />/381x255.jpg, <r:page:data name="thumbnail_url_sq" />/286x191.jpg, <r:page:data name="thumbnail_url_sq" />/279x186.jpg, <r:page:data name="thumbnail_url_sq" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                </div>
                <r:set_var name="soFeaturettesInfoProfilesWideAnywhere">
                  hasphoto
                </r:set_var>
              </r:if>

              <div class="wvu-featurettes__info wvu-featurettes__info--<r:var name="soFeaturettesInfoProfilesWideAnywhere" />">
                <h3><a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h3>
                <p>
                  <r:page:meta_description />
                </p>

                <a class="button" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}">More About <r:page:name /></r:if></a>
              </div>
            </div>
          </r:each>
        </div>
      </r:descendants>

    </r:root>

  </div>
</div>
