
<div class="wvu-masthead wvu-masthead--<r:site:id /> wvu-masthead--<r:site:data name="masthead_color" /> wvu-masthead--custom-logo wvu-masthead--blue">
  <div class="wvu-masthead__container">
    <r:partial name="patterns/wvu-masthead__logo" />

    <style>
      .wvu-masthead__logo {
        background-image: url(<r:site:data name="masthead_logo_url" />);
        background-size: contain;
      }
    </style>

    <div class="wvu-masthead__utility-nav">
      <r:partial name="patterns/wvu-masthead__college-link" />
      <r:partial name="patterns/wvu-masthead__links" />

      <div class="wvu-masthead__search-slider">
        <r:partial name="patterns/wvu-masthead__search-bar" />
      </div>
    </div>

  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead -->
