<!-- Slots -->



<r:if expr="{{ NOT(BLANK(default_content_01)) }}">
  <r:set_var name="patternNameD1">
    patterns/wvu-<r:site:data name="default_content_01" />
  </r:set_var>
  <r:partial name="{$patternNameD1}" />
</r:if>

<r:if expr="{{ NOT(BLANK(default_content_02)) }}">
  <r:set_var name="patternNameD2">
    patterns/wvu-<r:site:data name="default_content_02" />
  </r:set_var>
  <r:partial name="{$patternNameD2}" />
</r:if>

<r:if expr="{{ NOT(BLANK(default_content_03)) }}">
  <r:set_var name="patternNameD3">
    patterns/wvu-<r:site:data name="default_content_03" />
  </r:set_var>
  <r:partial name="{$patternNameD3}" />
</r:if>
