<div class="wvu-pattern-instructions">
  <div class="wvu-pattern-instructions__container">
    <div class="wvu-pattern-instructions__intro">
      <r:editable_region name="wvu-pattern-instructions__intro" />
    </div>
    <div class="wvu-pattern-instructions__options">
      <r:editable_region name="wvu-pattern-instructions__options">
        <h2>Options</h2>
        <table>
          <tbody>
            <tr>
              <th>Data Field</th>
              <th>Location</th>
              <th>Option</th>
              <th>Result</th>
            </tr>
            <tr>
              <td><code>hero</code></td>
              <td>Site Properties > Data</td>
              <td><code>false</code></td>
              <td>Removes hero from any page using the Frontpage template.</td>
            </tr>
          </tbody>
        </table>
      </r:editable_region>
    </div>
    <div class="wvu-pattern-instructions__dos-and-donts">
      <div class="wvu-pattern-instructions__do">
        <h2>Do</h2>
        <r:editable_region name="wvu-pattern-instructions__do" />
      </div>
      <div class="wvu-pattern-instructions__dont">
        <h2>Don&rsquo;t</h2>
        <r:editable_region name="wvu-pattern-instructions__dont" />
      </div>
    </div>
  </div>
</div>
