<r:comment>
<!-- NOTE: This polyptych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `diptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:set_var name="diptychPhoto__base2" value="{$diptychPhoto__base2}" default="wvu-diptych__photo2" />
<r:set_var name="diptychCopy__base2" value="{$diptychCopy__base2}" default="wvu-diptych__copy2" />
<r:set_var name="diptychBackgroundColor__base2" value="{$diptychBackgroundColor__base2}" default="wvu-background-color-class--diptych2" />
<r:set_var name="diptychItems2" value="{$diptychItems2}" default="2" />
<r:set_var name="diptych2" value="{$diptychScope2}" default="page" />

<div class="wvu-polyptych wvu-polyptych--<r:site:id /> <r:page:data name="bgcolor_diptych_2" /> background wvu-polyptych--diptych">
  <div class="wvu-polyptych__container">

    <r:page:if_has_content_for region="wvu-diptych__header2" always_show_in_edit_mode="true">
      <div class="wvu-polyptych__header">
        <r:editable_region name="wvu-diptych__header2" scope="{$diptychScope2}">
          <h2>Diptych Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="wvu-polyptych__panels">

      <r:loop:each times="{$diptychItems2}">

        <r:set_var name="diptychCopy2"><r:var name="diptychCopy__base2" />--<r:item /></r:set_var>

        <r:page:if_has_content_for region="{$diptychCopy2}" always_show_in_edit_mode="true">
          <div class="wvu-polyptych__panel">

            <r:set_var name="diptychPhoto2"><r:var name="diptychPhoto__base2" />--<r:item /></r:set_var>

            <r:page:if_has_content_for region="{$diptychPhoto2}" always_show_in_edit_mode="true">
              <div class="wvu-polyptych__photo">
                <r:editable_region name="{$diptychPhoto2}" scope="{$diptychScope2}">
                  <img src="http://placehold.it/960x640">
                </r:editable_region>
              </div>
            </r:page:if_has_content_for>

            <div class="wvu-polyptych__copy <r:page:unless_has_content_for region="{$diptychPhoto2}">wvu-polyptych__copy--wide</r:page:unless_has_content_for>">

              <r:editable_region name="{$diptychCopy2}" scope="{$diptychScope2}">
                <h3>Headline Goes Here</h3>
                <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
              </r:editable_region>

            </div>

          </div> <!-- end wvu-polyptych__panel -->
        </r:page:if_has_content_for>

      </r:loop:each>

    </div> <!-- end wvu-polyptych__panels -->

    <r:page:if_has_content_for region="wvu-diptych__postscript2" always_show_in_edit_mode="true">
      <div class="wvu-polyptych__postscript">
        <r:editable_region name="wvu-diptych__postscript2" scope="{$diptychScope2}">
          Put any additional info or links here.
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div> <!-- end wvu-polyptych__container -->
</div> <!-- end wvu-polyptych -->

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Diptych:</strong> These panels display sub-features or allow you to have multiple columns of content. Try to keep these consistent e.g. if you have a header in one column, use a header in all of them.</p>
  </div>
</r:edit_mode_only>
