<div class="wvu-calendar-widget <r:site:data name="bgcolor_calendar_widget" /> background">
  <div class="wvu-calendar-widget__container">

    <ul id="cal" class="wvu-calendar wvu-calendar--flex">

    </ul>

  </div>
</div>

<r:content_for name="page_js">

  <r:set_var name="cal_javascript_url">
    <r:site:data name="calendar_url" />
  </r:set_var>

  <r:if expr="{{ NOT(BLANK(calendar_url_page)) }}">
    <r:set_var name="cal_javascript_url">
      <r:page:data name="calendar_url_page" />
    </r:set_var>
  </r:if>

  <script type="text/javascript" src="https://calendar.wvu.edu/Scripts/core.js"></script>
  <script type="text/javascript">
    ActiveData.Events(
      "<r:var name="cal_javascript_url" />",
      function (response) {$("#cal").append(response.data);}
    );
  </script>

</r:content_for>
