<div class="wvu-masthead wvu-masthead--<r:site:id /> wvu-masthead--<r:site:data name="masthead_color" /> <r:files:each labels="masthead-logo" limit="1" types="image" random="true">wvu-masthead--blue</r:files:each>">
  <div class="wvu-masthead__container">
    <r:partial name="patterns/wvu-masthead__logo" />

    <div class="wvu-masthead__utility-nav">
      <r:partial name="patterns/wvu-masthead__college-link" />
      <r:partial name="patterns/wvu-masthead__links" />

      <div class="wvu-masthead__search-slider">
        <r:partial name="patterns/wvu-masthead__search-bar" />
      </div>
    </div>

  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead -->
