---
layout: default
custom_data_attributes:
 - backpage_header_badge
---

<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if v1="{$backpage_header}" v2="true" op="=">
  <r:partial name="custom-patterns/so-backpage-header" />
</r:if>

<div class="wvu-container">

  <main id="maincontent" class="main <r:page:unless_has_content_for region="wvu-sidebar">main--wide</r:page:unless_has_content_for> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">

    <r:partial name="custom-patterns/so-page-meta" />

    <r:edit_mode_only>
      <p><strong>Main body text:</strong></p>
    </r:edit_mode_only>

    <r:editable_region name="main">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </r:editable_region>

    <ul class="wvu-profile">
      <r:children:each>

        <li class="wvu-profile__individual">

          <div class="wvu-profile__individual-photo">
            <a href="<r:page:url />">
              <r:page:content name="wvu-profile__photo" />
            </a>
          </div> <!-- /.wvu-profile__individual-photo -->

          <div class="wvu-profile__individual-info">
            <h2 class="wvu-profile__name"><a class="wvu-profile__name-link" href="<r:page:url />"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h2>
            <h3 class="wvu-profile__job-title wvu-h5"><r:page:content name="wvu-profile__job-title" /></h3>
            <p class="wvu-profile__phone-icon"><a class="wvu-profile__phone" href="tel:<r:page:content name="wvu-profile__phone" />"><r:page:content name="wvu-profile__phone" /></a></p>
            <p class="wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
            <p class="wvu-profile__short-description"><r:page:content name="wvu-profile__short-description" /></p>
            <r:page:if_has_content_for region="wvu-profile__quote">
              <blockquote>
                <r:page:content name="wvu-profile__quote" />
              </blockquote>
            </r:page:if_has_content_for>
            <r:page:if_has_content_for region="wvu-profile__button-text">
              <p class="wvu-profile__button"><a class="button" href="<r:page:url />"><r:page:content name="wvu-profile__button-text" /></a></p>
            </r:page:if_has_content_for>
          </div> <!-- /.wvu-profile__individual-info -->

        </li> <!-- /.wvu-profile__individual -->
      </r:children:each>
    </ul>

  </main>

  <r:partial name="custom-patterns/wvu-sidebar" />

</div> <!-- /.wvu-container -->
