
<div class="wvu-twitter-widget wvu-twitter-widget--<r:site:id /> <r:page:data name="bgcolor_twitter_widget" /> background">
  <div class="wvu-twitter-widget__container">

    <r:page:if_has_content_for region="wvu-twitter-widget__header" always_show_in_edit_mode="true">
      <div class="wvu-twitter-widget__header">
        <r:editable_region name="wvu-twitter-widget__header">
          <h2>Follow Us on Twitter</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div id="example1"></div>

    <div class="wvu-twitter-widget__postscript">
      <a href="http://twitter.com/<r:site:data name="twitter_handle" />"><img src="https://patterns.wvu.edu/images/social-media-icons/twitter.svg" alt="Twitter icon" /></a>
      <a href="http://twitter.com/<r:site:data name="twitter_handle" />">@<r:site:data name="twitter_handle" /></a>
    </div>

  </div>
</div>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Twitter Widget:</strong> In order to use this, you must create a <a href="https://dev.twitter.com/web/embedded-timelines">Twitter Widget</a>. Log in to Twitter and go <a href="https://twitter.com/settings/widgets/new">here</a>. Then enter the ID of the widget in your site properties under twitter_widget_id. Tweets will automatically display here.</p>
  </div>
</r:edit_mode_only>

<r:content_for name="page_js">
  <r:include_javascript name="vendor/twitterFetcher_min" />

  <script type="text/javascript" defer>
    // ##### Simple example 1 #####
    // A simple example to get my latest tweet and write to a HTML element with
    // id "example1". Also automatically hyperlinks URLS and user mentions and
    // hashtags.
    var config1 = {
      "id": '<r:site:data name="twitter_widget_id" />',
      "domId": 'example1',
      "maxTweets": 5,
      "enableLinks": true
    };
    twitterFetcher.fetch(config1);
  </script>
</r:content_for>
