<div class="wvu-background-color-changer">
  <div class="wvu-background-color-changer__container">

    <h2>Colors</h2>
    <ul>
      <li class="wvu-gold background">wvu-gold</li>
      <li class="wvu-blue background">wvu-blue</li>
      <li class="wvu-dune background">wvu-dune</li>
      <li class="wvu-limed-spruce background">wvu-limed-spruce</li>
      <li class="wvu-limed-spruce background">wvu-limed-spruce</li>
    </ul>

  </div>
</div>

<r:content_for name="page_js">
  <script type="text/javascript">

  $('li.wvu-gold').click(switchGold);
  $('li.wvu-blue').click(switchBlue);
  $('#blueButton').click(switchBlue);
  $('#yellowButton').click(switchYellow);

  function switchGold() {
  $('.<r:page:slug />').attr('class', 'gray');
  }

  function switchBlue() {
  $('.<r:page:slug />').attr('class', 'wvu-blue background');
  }

  function switchBlue() {
  $('body').attr('class', 'blue');
  }

  function switchYellow() {
  $('body').attr('class', 'yellow');
  }

  </script>
</r:content_for>
