<div id="anchor-find-stuff" class="wvu-big-search wvu-big-search--<r:site:id />">
  <div class="wvu-big-search__container">
    <div class="wvu-big-search__header">
      <r:editable_region name="wvu-big-search__header">
        <h2>Find what you&rsquo;re looking for.</h2>
        <p>Subhead goes here.</p>
      </r:editable_region>
    </div>
    <form id="form-search" class="form-search form-search--<r:page:slug />" action="<r:page:data name="search_action" />" method="get" role="search">
      <label class="form-search__label form-search__label--<r:page:slug />" for="q">
        <span class="form-search__label-text form-search__text--majors">Search Majors</span>
        <input id="q" class="form-search__field form-search__field--<r:page:slug /> " name="cquery" maxlength="256" placeholder="Search..." type="search" />
      </label>
      <input class="form-search__submit form-search__submit--<r:page:slug />" name="submit" type="submit" value="Search" />
    </form>
    <r:page:if_has_content_for region="wvu-big-search__postscript" always_show_in_edit_mode="true">
      <div class="wvu-big-search__postscript">
        <p><r:editable_region name="wvu-big-search__postscript">Put additional info or links here.</r:editable_region></p>
      </div>
    </r:page:if_has_content_for>
  </div>
</div>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Big Search Index:</strong> You can create a sort of mini-database by creating sub-pages and using keywords. The search will search each subpage and display pages that match the keywords (found in section <code>.main</code>). This is the search part. Make sure to use the <code>big-search-index</code> pattern to display results.</p>
  </div>
</r:edit_mode_only>
