<div class="wvu-pattern-instructions">
  <div class="wvu-pattern-instructions__container">
    <div class="wvu-pattern-instructions__intro">
      <r:editable_region name="wvu-pattern-instructions__intro" />
    </div>
    <div class="wvu-pattern-instructions__code-examples">
      <div class="wvu-pattern-instructions__code-example wvu-pattern-instructions__code-example--html">
        <h2>HTML</h2>
        <pre>
          <r:editable_region name="wvu-pattern-instructions__html" />
        </pre>
      </div>
      <div class="wvu-pattern-instructions__code-example wvu-pattern-instructions__code-example--sass">
        <h2>Sass</h2>
        <pre>
          <r:editable_region name="wvu-pattern-instructions__sass" />
        </pre>
      </div>
      <div class="wvu-pattern-instructions__code-example wvu-pattern-instructions__code-example--css">
        <h2>JS</h2>
        <pre>
          <r:editable_region name="wvu-pattern-instructions__css" />
        </pre>
      </div>
      <div class="wvu-pattern-instructions__code-example wvu-pattern-instructions__code-example--ja">
        <h2>CSS</h2>
        <pre>
          <r:editable_region name="wvu-pattern-instructions__javascript" />
        </pre>
      </div>
    </div>
    <div class="wvu-pattern-instructions__dos-and-donts">
      <div class="wvu-pattern-instructions__do">
        <h2>Do</h2>
        <r:editable_region name="wvu-pattern-instructions__do" />
      </div>
    </div>
      <div class="wvu-pattern-instructions__dont">
        <h2>Don&rsquo;t</h2>
        <r:editable_region name="wvu-pattern-instructions__dont" />
      </div>
      </div>
    </div>
  </div>
</div>
