<div class="wvu-lede-text wvu-lede-text--<r:site:id /> <r:page:data name="bgcolor_lede_text" /> background">
  <div class="wvu-lede-text__container">
    <p>
      <r:editable_region name="wvu-lede-text" type="simple">
        This is a lede paragraph. It introduces your content. It should be short and to the point. Only about this much text. Do not put links or other formatting in this text block.
      </r:editable_region>
    </p>
  </div>
</div>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Lede Text:</strong> This is a lede paragraph. It introduces content and should only be 1-2 sentences and no links.</p>
  </div>
</r:edit_mode_only>
