<div class="wvu-featurettes wvu-featurettes--<r:site:id /> wvu-featurettes--1 wvu-featurettes--testimonials <r:page:data name="bgcolor_testimonials" /> background">
  <div class="wvu-featurettes__container">

    <r:page:if_has_content_for region="wvu-testimonials__header" always_show_in_edit_mode="true">
      <div class="wvu-featurettes__header">
        <r:editable_region name="wvu-testimonials__header">
          <h2>Featurettes Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <r:get_page id="{$testimonials_id}">

      <r:children by="name" order="asc" labels="feature" labels_match="any">
        <div class="wvu-featurettes__featurettes wvu-featurettes__featurettes--<r:count />">
          <r:each>
            <div class="wvu-featurettes__featurette">
              <r:set_var name="soFeaturettesInfoWide" default="nophoto" />
              <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
                <div class="wvu-featurettes__photo">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:page:data name="thumbnail_url_sq" />/381x381.jpg" srcset="<r:page:data name="thumbnail_url_sq" />/960x960.jpg, <r:page:data name="thumbnail_url_sq" />/586x586.jpg, <r:page:data name="thumbnail_url_sq" />/381x381.jpg, <r:page:data name="thumbnail_url_sq" />/286x286.jpg, <r:page:data name="thumbnail_url_sq" />/279x279.jpg, <r:page:data name="thumbnail_url_sq" />/217x217.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                </div>
                <r:set_var name="soFeaturettesInfoWide">
                  hasphoto
                </r:set_var>
              </r:if>
              <div class="wvu-featurettes__info wvu-featurettes__info--<r:var name="soFeaturettesInfoWide" />">
                <h3><a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h3>
                <p>
                  <r:page:meta_description />
                </p>
                <a class="button" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}">More About <r:page:name /></r:if></a>
              </div>
            </div>
          </r:each>
        </div>
      </r:children>

    </r:get_page>

    <r:page:if_has_content_for region="wvu-testimonials__postscript" always_show_in_edit_mode="true">
      <div class="wvu-featurettes__postscript">
        <p><r:editable_region name="wvu-testimonials__postscript">Put additional info or links here.</r:editable_region></p>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <strong>Instructions for Featurettes:</strong> This finds pages labeled with <code>featurette</code> and this page&rsquo;s slug, and pulls in content to create sub-features. Or list out sub-features based on page ID. Enter the parent page&rsquo;s ID in the <strong>featurettes_id</strong> field in Page Properties > Data. Each page you wish featured must be labelled <code>feature</code>.
  </div>
</r:edit_mode_only>
