<r:comment>
<!-- NOTE: This polyptych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `triptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:set_var name="quadriptychPhoto__base" value="{$quadriptychPhoto__base}" default="wvu-quadriptych__photo" />
<r:set_var name="quadriptychCopy__base" value="{$quadriptychCopy__base}" default="wvu-quadriptych__copy" />
<r:set_var name="quadriptychBackgroundColor__base" value="{$quadriptychBackgroundColor__base}" default="wvu-background-color-class--quadriptych" />
<r:set_var name="quadriptychItems" value="{$quadriptychItems}" default="4" />
<r:set_var name="quadriptych" value="{$quadriptychScope}" default="page" />

<div class="wvu-polyptych wvu-polyptych--<r:site:id /> <r:page:data name="bgcolor_quadriptych" /> background wvu-polyptych--quadriptych">
  <div class="wvu-polyptych__container">

    <r:page:if_has_content_for region="wvu-quadriptych__header" always_show_in_edit_mode="true">
      <div class="wvu-polyptych__header">
        <r:editable_region name="wvu-quadriptych__header" scope="{$quadriptychScope}">
          <h2>Quadriptych Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="wvu-polyptych__panels">

      <r:loop:each times="{$quadriptychItems}">

        <r:set_var name="quadriptychCopy"><r:var name="quadriptychCopy__base" />--<r:item /></r:set_var>

        <r:page:if_has_content_for region="{$quadriptychCopy}" always_show_in_edit_mode="true">
          <div class="wvu-polyptych__panel">

            <r:set_var name="quadriptychPhoto"><r:var name="quadriptychPhoto__base" />--<r:item /></r:set_var>

            <r:page:if_has_content_for region="{$quadriptychPhoto}" always_show_in_edit_mode="true">
              <div class="wvu-polyptych__photo">
                <r:editable_region name="{$quadriptychPhoto}" scope="{$quadriptychScope}">
                  <img src="http://placehold.it/960x640">
                </r:editable_region>
              </div>
            </r:page:if_has_content_for>

            <div class="wvu-polyptych__copy <r:page:unless_has_content_for region="{$quadriptychPhoto}">wvu-polyptych__copy--wide</r:page:unless_has_content_for>">

              <r:editable_region name="{$quadriptychCopy}" scope="{$quadriptychScope}">
                <h3>Headline Goes Here</h3>
                <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
              </r:editable_region>

            </div>

          </div> <!-- end wvu-polyptych__panel -->
        </r:page:if_has_content_for>

      </r:loop:each>

    </div> <!-- end wvu-polyptych__panels -->

    <r:page:if_has_content_for region="wvu-quadriptych__postscript" always_show_in_edit_mode="true">
      <div class="wvu-polyptych__postscript">
        <r:editable_region name="wvu-quadriptych__postscript" scope="{$quadriptychScope}">
          Put any additional info or links here.
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div> <!-- end wvu-polyptych__container -->
</div> <!-- end wvu-polyptych -->

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Quadriptych:</strong> These panels display sub-features or allow you to have multiple columns of content. Try to keep these consistent e.g. if you have a header in one column, use a header in all of them.</p>
  </div>
</r:edit_mode_only>
