<r:set_var name="page_slug">
  <r:page:slug />
</r:set_var>

<div class="wvu-featurettes wvu-featurettes--testimonials <r:page:content name="so-background-color-class--profiles" /> background">
  <div class="wvu-featurettes__container">

    <r:page:if_has_content_for region="wvu-featurettes--testimonials__header" always_show_in_edit_mode="true">
      <div class="wvu-featurettes__header">
        <r:editable_region name="wvu-featurettes--testimonials__header">
          <h2>Testimonials Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <r:root>

      <r:descendants order="asc" labels="profile, {$page_slug}" labels_match="any">
        <div class="wvu-featurettes__featurettes wvu-featurettes__featurettes--<r:count />">
          <r:each>
            <div class="wvu-featurettes__featurette">

              <r:set_var name="soFeaturettesInfoProfilesWide" default="nophoto" />
              <r:if expr="{{ NOT(BLANK(thumbnail_url)_sq) }}">
                <div class="wvu-featurettes__photo">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url_sq)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:page:data name="thumbnail_url_sq" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url_sq" />/586x286.jpg, <r:page:data name="thumbnail_url_sq" />/381x255.jpg, <r:page:data name="thumbnail_url_sq" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url_sq" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                </div>
                <r:set_var name="soFeaturettesInfoProfilesWide">
                  hasphoto
                </r:set_var>
              </r:if>

              <div class="wvu-featurettes__info wvu-featurettes__info--<r:var name="soFeaturettesInfoProfilesWide" />">
                <h3><a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h3>
                <p class="wvu-featurettes__quote">
                  <r:page:data name="profile_quote" />
                </p>

                <a class="button" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}">More About <r:page:name /></r:if></a>
              </div>
            </div>
          </r:each>
        </div>
      </r:descendants>

    </r:root>

    <div class="wvu-featurettes__postscript">
      <r:editable_region name="wvu-featurettes--testimonials__postscript" scope="site">
        Put any additional info or links here.
      </r:editable_region>
    </div>

  </div>
</div>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Testimonials:</strong> This loops through the children of a parent page e.g. &ldquo;Profiles&rdquo; and pulls content to create profile features. Enter the parent page&rsquo;s ID in the <strong>profiles_id</strong> field in the page properties. Each page you wish featured must be labelled "feature".</p>
    <p><strong>Background Color:</strong> <r:editable_region name="so-background-color-class--profiles" /></p>
  </div>
</r:edit_mode_only>
