html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.wvu-super-nav h3 {
  margin-top: 1em;
}

.wvu-super-nav .wvu-super-nav__photo {
  color: #002855;
  font-size: 9em;
  line-height: 0.80487em;
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.fonts-loaded .wvu-super-nav .wvu-super-nav__photo {
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
}

.wvu-super-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.wvu-super-nav__panel {
  font-size: .8em;
  margin-bottom: 2em;
}

@media (min-width: 48em) {
  .wvu-super-nav__panel {
    margin-bottom: 0;
  }
}

.wvu-super-nav__panel h3 {
  font-size: 1.2em;
}

.wvu-super-nav__container {
  padding: 4em 0 4.3em 0;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 75em) {
  .wvu-super-nav__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.wvu-super-nav__header {
  text-align: center;
}

.wvu-super-nav__header h2 {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  margin-bottom: .5em;
  margin-top: 0;
  text-align: center;
}

.wvu-super-nav__header h3 {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  margin-bottom: .5em;
  margin-top: 0;
  text-align: center;
  font-size: 2.4em;
}

.wvu-super-nav__header p {
  margin: 0 auto;
}

h2 + .wvu-super-nav__panels {
  margin-top: 3em;
}

.wvu-super-nav--triptych h3 {
  font-size: 2em;
}

.wvu-super-nav--triptych .wvu-super-nav__photo {
  font-size: 7em;
}

.wvu-super-nav--quadtych h3 {
  font-size: 1.5em;
}

.wvu-super-nav--quadtych .wvu-super-nav__photo {
  font-size: 5em;
}

.wvu-super-nav--quintych h3 {
  font-size: 1.2em;
}

.wvu-super-nav--quintych .wvu-super-nav__photo {
  font-size: 5em;
}

.wvu-super-nav--sixtych h3 {
  font-size: 1.2em;
}

.wvu-super-nav--sixtych .wvu-super-nav__photo {
  font-size: 5em;
}

.wvu-super-nav .wvu-super-nav__photo {
  line-height: 0.80487em;
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.fonts-loaded .wvu-super-nav .wvu-super-nav__photo {
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
}

@media (min-width: 48em) {
  .wvu-super-nav .wvu-super-nav__photo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .wvu-super-nav .wvu-super-nav__photo:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav .wvu-super-nav__copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .wvu-super-nav .wvu-super-nav__copy:last-child {
    margin-right: 0;
  }
}

.wvu-super-nav__container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.wvu-super-nav__container::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 48em) {
  .wvu-super-nav--diptych .wvu-super-nav__panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .wvu-super-nav--diptych .wvu-super-nav__panel:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--diptych .wvu-super-nav__photo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--diptych .wvu-super-nav__photo:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--diptych .wvu-super-nav__copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--diptych .wvu-super-nav__copy:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--triptych .wvu-super-nav__panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .wvu-super-nav--triptych .wvu-super-nav__panel:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--triptych .wvu-super-nav__photo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--triptych .wvu-super-nav__photo:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--triptych .wvu-super-nav__copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--triptych .wvu-super-nav__copy:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--quadtych .wvu-super-nav__panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .wvu-super-nav--quadtych .wvu-super-nav__panel:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--quadtych .wvu-super-nav__photo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--quadtych .wvu-super-nav__photo:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--quadtych .wvu-super-nav__copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--quadtych .wvu-super-nav__copy:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--quintych .wvu-super-nav__panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.11388%;
  }
  .wvu-super-nav--quintych .wvu-super-nav__panel:last-child {
    margin-right: 0;
  }
}

.wvu-super-nav--quintych .wvu-super-nav__photo {
  font-size: 5em;
}

@media (min-width: 48em) {
  .wvu-super-nav--quintych .wvu-super-nav__photo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--quintych .wvu-super-nav__photo:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--quintych .wvu-super-nav__copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--quintych .wvu-super-nav__copy:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--sixtych .wvu-super-nav__panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__panel:last-child {
    margin-right: 0;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__panel:nth-child(3n) {
    margin-right: 0;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__panel:nth-child(3n+1) {
    clear: left;
  }
}

@media (min-width: 75em) {
  .wvu-super-nav--sixtych .wvu-super-nav__panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__panel:nth-child(3n) {
    margin-right: 2.35765%;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__panel:nth-child(3n+1) {
    clear: none;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__panel:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--sixtych .wvu-super-nav__photo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__photo:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-super-nav--sixtych .wvu-super-nav__copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .wvu-super-nav--sixtych .wvu-super-nav__copy:last-child {
    margin-right: 0;
  }
}
