html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.wvu-video {
  background-color: #2C2A29;
  color: white;
}

.wvu-video a {
  color: white;
}

.wvu-video h2 {
  font-size: 8.2em;
  margin: 0 0 0.5em;
  text-align: center;
}

.wvu-video h2, .wvu-video h3, .wvu-video h4, .wvu-video h5, .wvu-video h6 {
  color: white;
  margin-top: 0;
}

.wvu-video__header {
  font-size: 2.5em;
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.wvu-video__header h2 {
  margin: 0 0 0.5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.80487em;
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2em;
}

.fonts-loaded .wvu-video__header h2 {
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
}

.wvu-video__header h3 {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.wvu-video__video {
  margin-bottom: 2em;
}

@media (min-width: 48em) {
  .wvu-video__video {
    margin-bottom: 0;
  }
}

.wvu-video__video-and-description {
  display: table;
  width: 100%;
}

.wvu-video__lede + .wvu-video__video-and-description {
  margin-top: 4em;
}

.wvu-video__postscript {
  clear: both;
  display: block;
  margin: 2em auto 0 auto;
  text-align: center;
}

.wvu-video__container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.wvu-video__container::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 48em) {
  .wvu-video__video {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  .wvu-video__video:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-video__description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 36.02647%;
    margin-left: 4.2649%;
  }
  .wvu-video__description:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .wvu-video__video--wide {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 21.32451%;
  }
  .wvu-video__video--wide:last-child {
    margin-right: 0;
  }
}
