html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.wvu-big-search {
  background-color: #EAAA00;
  background-image: url(https://admissions.wvu.edu/images/wvu-pattern-background--gold.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #002855;
  text-align: center;
}

@media (min-width: 60em) {
  .wvu-big-search {
    background-size: auto;
  }
}

.wvu-big-search p {
  margin: 1em auto;
}

.wvu-big-search .form-search__label {
  width: 80%;
  margin: 0;
  float: left;
}

@media (min-width: 48em) {
  .wvu-big-search .form-search__label {
    width: 83%;
  }
}

.wvu-big-search input[type="search"].form-search__field {
  color: #2C2A29;
  height: 60px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding-left: 18px;
  font-size: 1.2rem;
  font-weight: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@media (min-width: 48em) {
  .wvu-big-search input[type="search"].form-search__field {
    height: 72px;
    font-size: 1.5rem;
  }
}

@media (min-width: 48em) {
  .wvu-big-search input[type="search"].form-search__field {
    height: 86px;
  }
}

.wvu-big-search input[type="submit"].form-search__submit {
  width: 20%;
  margin: 0;
  height: 60px;
  float: left;
  background-color: #002855;
  border: none;
  border-radius: 0 3px 3px 0;
  background-size: 21px;
  background-position: 50% 21px;
}

@media (min-width: 48em) {
  .wvu-big-search input[type="submit"].form-search__submit {
    width: 17%;
    height: 72px;
  }
}

@media (min-width: 48em) {
  .wvu-big-search input[type="submit"].form-search__submit {
    height: 86px;
    background-size: 32px;
    background-position: 50% 27px;
  }
}

.wvu-big-search input[type="submit"].form-search__submit:hover {
  background-color: #2C2A29;
  border-color: #002855;
}

.wvu-big-search__container {
  padding: 4em 0 4.3em 0;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 75em) {
  .wvu-big-search__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.wvu-big-search__header {
  font-size: 2.5em;
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.wvu-big-search__header h2 {
  color: #002855;
  margin: 0 0 0.5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.80487em;
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2em;
}

.fonts-loaded .wvu-big-search__header h2 {
  font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
}

.wvu-big-search__header h3 {
  color: #002855;
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.08333em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.wvu-big-search__postscript {
  clear: both;
  display: table;
  margin: 0 auto;
  width: 100%;
}

.wvu-big-search__postscript p {
  margin: 1em 0;
  max-width: 9999em;
}

.wvu-big-search__container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.wvu-big-search__container::after {
  clear: both;
  content: "";
  display: table;
}

.wvu-big-search .form-search {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.wvu-big-search .form-search::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 48em) {
  .wvu-big-search .form-search {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
  }
  .wvu-big-search .form-search:last-child {
    margin-right: 0;
  }
}
