html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.wvu-event-agenda {
  background-color: #EAAA00;
}

.wvu-event-agenda h1, .wvu-event-agenda h2, .wvu-event-agenda h3, .wvu-event-agenda h4, .wvu-event-agenda h5, .wvu-event-agenda h6 {
  color: #2C2A29;
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

.wvu-event-agenda table {
  margin-bottom: 3em;
}

.wvu-event-agenda__container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.wvu-event-agenda__container::after {
  clear: both;
  content: "";
  display: table;
}
